<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>{{ Title }}</h4>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        (document:keydown.Alt.n)="add()"
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="add()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <p-contextMenu #cm [model]="items"></p-contextMenu>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <p-table
                        #dt
                        [(contextMenuSelection)]="selectedProduct"
                        [contextMenu]="cm"
                        dataKey="code"
                        [value]="Data"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="['name']"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="table-header align-content-center justify-content-end grid flex"
                            >
                                <div
                                    class="col-12 md:col-8 lg:6 grid justify-content-end"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SlNo</th>
                                <th pSortableColumn="name">
                                    Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="main_category_name">
                                    Main
                                    <p-sortIcon
                                        field="main_category_name"
                                    ></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr [pContextMenuRow]="product">
                                <td style="width: 10%">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 40%">
                                    <div class="flex align-items-center">
                                        <div
                                            class=""
                                            *ngIf="
                                                product.img_loc;
                                                else customAvatar
                                            "
                                        >
                                            <img
                                                class="rounded-circle mr-1"
                                                [src]="product.img_loc"
                                                height="32"
                                                width="32"
                                                alt="datatable-avatar"
                                            />
                                        </div>
                                        <ng-template #customAvatar>
                                            <div
                                                class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                            >
                                                <div class="avatar-content">
                                                    {{
                                                        product.name | initials
                                                    }}
                                                </div>
                                            </div>
                                        </ng-template>
                                        <p class="font-bold">
                                            {{ product.name }}
                                        </p>
                                    </div>
                                </td>
                                <td style="width: 40%">
                                    <div class="flex align-items-center">
                                        <div
                                            class=""
                                            *ngIf="
                                                product.main_cat_img_loc;
                                                else customAvatar1
                                            "
                                        >
                                            <img
                                                class="rounded-circle mr-1"
                                                [src]="product.main_cat_img_loc"
                                                height="32"
                                                width="32"
                                                alt="datatable-avatar"
                                            />
                                        </div>
                                        <ng-template #customAvatar1>
                                            <div
                                                class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                            >
                                                <div class="avatar-content">
                                                    {{
                                                        product.main_category_name
                                                            | initials
                                                    }}
                                                </div>
                                            </div>
                                        </ng-template>
                                        <p class="font-bold">
                                            {{ product.main_category_name }}
                                        </p>
                                    </div>
                                </td>
                                <td style="width: 10%">
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-ellipsis-v"
                                        (click)="
                                            selectedProduct = product;
                                            menu.toggle($event)
                                        "
                                        class="p-button-rounded p-button-text p-action-button"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
