<div class="grid">
    <div class="col-12 sm:col-12 md:col-6">
        <app-common [Title]="'Unit Of Measurement'" [Url]="'UOM'"></app-common>
    </div>
    <div class="col-12 sm:col-12 md:col-6">
        <app-common [Title]="'GST SLAB'" [Url]="'GST_SLAB'"></app-common>
    </div>
    <div class="col-12 sm:col-12 md:col-6">
        <app-common [Title]="'Classes'" [Url]="'CLASS'"></app-common>
    </div>
    <div class="col-12 sm:col-12 md:col-6">
        <app-common [Title]="'Divisions'" [Url]="'DIVISION'"></app-common>
    </div>
</div>
