<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-fluid mb-3">

                    <form [formGroup]="commonForm" autocomplete="off">
                        <div class="grid">
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-3"
                            >
                                <label for="meal_id"
                                    >Meal <span class="p-error">*</span></label
                                >
                                <p-dropdown
                                    id="meal_id"
                                    [options]="mealTypes"
                                    placeholder="Select a Meal"
                                    formControlName="meal_id"
                                    optionLabel="meal_name"
                                ></p-dropdown>
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_id.touched &&
                                        commonForm.controls.meal_id.errors
                                            ?.required
                                    "
                                    >Meal is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_price"
                                    >Base Price
                                    <span class="p-error">*</span></label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    id="meal_price"
                                    formControlName="meal_price"
                                    required
                                />
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_price
                                            .touched &&
                                        commonForm.controls.meal_price.errors
                                            ?.required
                                    "
                                    >Price is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_start_time"
                                    >Start Time
                                    <span class="p-error">*</span></label
                                >
                                <!-- <p-calendar
                                    appendTo="body"
                                    [timeOnly]="true"
                                    inputId="timeonly"
                                    [hourFormat]="12"
                                    [showSeconds]="true"
                                    formControlName="meal_start_time"
                                ></p-calendar> -->
                                <input
                                    type="time"
                                    step="2"
                                    pInputText
                                    id="meal_start_time"
                                    formControlName="meal_start_time"
                                    required
                                />
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_start_time
                                            .touched &&
                                        commonForm.controls.meal_start_time
                                            .errors?.required
                                    "
                                    >Start time is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_end_time"
                                    >End time
                                    <span class="p-error">*</span></label
                                >
                                <!-- <p-calendar
                                    appendTo="body"
                                    [timeOnly]="true"
                                    inputId="timeonly"
                                    [hourFormat]="12"
                                    [showSeconds]="true"
                                    formControlName="meal_end_time"
                                ></p-calendar> -->
                                <input
                                    type="time"
                                    step="2"
                                    pInputText
                                    id="meal_end_time"
                                    formControlName="meal_end_time"
                                    required
                                />
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_end_time
                                            .touched &&
                                        commonForm.controls.meal_end_time.errors
                                            ?.required
                                    "
                                    >End time is required.</small
                                >
                            </div>
                            <div class="col-4 sm:col-4 md:col-4 lg:col-2 flex">
                                <button
                                    pButton
                                    pRipple
                                    type="submit"
                                    (click)="addToNewMeals()"
                                    icon="pi pi-check"
                                    class="flex p-button-rounded p-button-text p-button-success mr-2 align-self-center"
                                ></button>

                                <button
                                    pButton
                                    pRipple
                                    type="reset"
                                    icon="pi pi-times"
                                    class="flex p-button-rounded p-button-text p-button-danger align-self-center"
                                ></button>
                            </div>
                        </div>
                    </form>
                    <p-table
                        *ngIf="load_mealsToInsert"
                        dataKey="meal_pack_item_id"
                        [value]="mealsToInsert"
                        [rows]="10"
                        editMode="row"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SlNo</th>
                                <th pSortableColumn="meal_name">
                                    Name
                                    <p-sortIcon field="meal_name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_price">
                                    Base Price
                                    <p-sortIcon field="meal_price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_start_time">
                                    Start Time
                                    <p-sortIcon
                                        field="meal_start_time"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_end_time">
                                    End Time
                                    <p-sortIcon
                                        field="meal_end_time"
                                    ></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td style="width: 10%">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 20%">
                                    {{ product.meal_id.meal_name }}
                                </td>
                                <td style="width: 15%">
                                    {{ product.meal_price | currency : "INR" }}
                                </td>
                                <td style="width: 20%">
                                    {{ product.meal_start_time }}
                                </td>
                                <td style="width: 20%">
                                    {{ product.meal_end_time }}
                                </td>
                                <td style="text-align: left; width: 15%">
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="
                                            mealsToInsert.splice(rowIndex, 1)
                                        "
                                        class="p-button-rounded p-button-text p-button-danger"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td
                                    [attr.colspan]="6"
                                    style="text-align: center"
                                >
                                    No meals added.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            *ngIf="mealsToInsert.length > 0"
                            style="max-width: 100px; margin-top: 1rem"
                            label="Add"
                            (click)="insertMeals()"
                            class="p-button"
                        ></button>
                    </div>
        </div>
    </div>
</div>
