<!-- <iframe id="fullscreen-iframe" [src]="pdfSrc" name="Sale Receipt"></iframe> -->
<div id="pdfContent"></div>
<pdf-viewer
*ngIf="displayPdf"
[src]="pdfSrc"
    [original-size]="false"
    id="fullscreen-iframe"
></pdf-viewer>
