<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>Memberships</h4>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        *ngIf="
                            selectedStudents.length > 0 &&
                            selectedMembership == 'ACTIVE_MEMBERSHIPS'
                        "
                        pButton
                        pRipple
                        label="Assign Leave"
                        icon="pi pi-users"
                        class="mr-2 inline-block p-button"
                        (click)="showLeaveDialog()"
                    ></button>
                    <button
                        (document:keydown.Alt.n)="add()"
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="add()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="More"
                        icon="pi pi-bars"
                        class="mr-2 inline-block p-button"
                        (click)="menu.toggle($event)"
                    ></button>
                    <p-tieredMenu #menu [model]="moreItems" [popup]="true"></p-tieredMenu>
                </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <p-toolbar styleClass="mb-4" class="align-content-center">
                        <div class="grid w-full mb-0">
                            <div
                                class="field p-fluid col-12 sm:col-4 md:col-6 lg:col-2"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">Start Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="start_date"
                                />
                            </div>
                            <div
                                class="field p-fluid col-12 sm:col-4 md:col-6 lg:col-2"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">End Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="end_date"
                                />
                            </div>
                            <div
                                class="field p-fluid col-12 sm:col-4 md:col-4 lg:col-2"
                                style="margin-bottom: -1rem"
                            >
                                <label for="memberships">Memberships </label>
                                <p-dropdown
                                    id="memberships"
                                    [options]="MembershipList"
                                    [(ngModel)]="selectedMembership"
                                ></p-dropdown>
                            </div>
                            <div
                                class="col-12 sm:col-4 md:col-6 lg:col-2 align-items-center"
                            >
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                    (click)="fetchTransactions()"
                                ></button>
                            </div>
                        </div>
                    </p-toolbar>
                    <p-contextMenu #cm [model]="items"></p-contextMenu>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <p-table
                        #dt
                        dataKey="member_id"
                        [(contextMenuSelection)]="selectedProduct"
                        [(selection)]="selectedStudents"
                        [contextMenu]="cm"
                        [rowSelectable]="isRowSelectable"
                        [value]="Data | async"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="[
                            'full_name',
                            'card_number',
                            'membership_name'
                        ]"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex grid">
                                <div class="col-6">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-excel"
                                        class="p-button-success mr-2"
                                        *ngIf="allMemberships"
                                        pTooltip="XLS"
                                        tooltipPosition="bottom"
                                    ></button>
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-pdf"
                                        *ngIf="allMemberships"
                                        (click)="generatePDF()"
                                        class="p-button-warning mr-2"
                                        pTooltip="PDF"
                                        tooltipPosition="bottom"
                                    ></button>
                                </div>
                                <div
                                    class="ml-auto col"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="width: 5rem">
                                    Slno
                                    <span
                                        ><i
                                            class="pi pi-info-circle p-error"
                                            pTooltip="Right click on row for options"
                                        ></i
                                    ></span>
                                </th>
                                <th
                                    pSortableColumn="full_name"
                                    style="min-width: 14rem"
                                >
                                    Name
                                    <p-sortIcon field="full_name"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="membership_name"
                                    style="min-width: 14rem"
                                >
                                    Membership
                                    <p-sortIcon
                                        field="membership_name"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="days"
                                    style="min-width: 7rem"
                                >
                                    Days
                                    <p-sortIcon field="days"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="start_date"
                                    style="min-width: 9rem"
                                >
                                    Start Date
                                    <p-sortIcon field="start_date"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="end_date"
                                    style="min-width: 9rem"
                                >
                                    End Date
                                    <p-sortIcon field="end_date"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="isOnLeave"
                                    style="min-width: 11rem"
                                >
                                    Leave Status
                                    <p-sortIcon field="isOnLeave"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="total_amt"
                                    style="min-width: 9rem"
                                >
                                    Total Amt
                                    <p-sortIcon field="total_amt"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr [pContextMenuRow]="product">
                                <td>
                                    <p-tableCheckbox
                                        [value]="product"
                                        [disabled]="isOnLeave(product)"
                                    ></p-tableCheckbox>
                                </td>
                                <td>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    <div class="flex align-items-center">
                                        <div
                                            class=""
                                            *ngIf="
                                                product.photo_url;
                                                else customAvatar
                                            "
                                        >
                                            <img
                                                class="rounded-circle mr-1"
                                                [src]="product.photo_url"
                                                height="32"
                                                width="32"
                                                alt="datatable-avatar"
                                            />
                                        </div>
                                        <ng-template #customAvatar>
                                            <div
                                                class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                            >
                                                <div class="avatar-content">
                                                    {{
                                                        product.full_name
                                                            | initials
                                                    }}
                                                </div>
                                            </div>
                                        </ng-template>
                                        <a
                                            (click)="
                                                selectedProduct = product;
                                                openProfile()
                                            "
                                            class="text-800 font-bold cursor-pointer no-underline hover:underline"
                                            >{{ product?.full_name ?? "" }}</a
                                        >
                                    </div>
                                </td>
                                <td>
                                    {{ product.membership_data.meal_pack_name }}
                                </td>
                                <td>
                                    {{ product.membership_data.max_days }}
                                </td>
                                <td>
                                    {{ product.membership_data.start_date }}
                                </td>
                                <td>
                                    {{ product.membership_data.end_date }}
                                </td>
                                <td>
                                    <i
                                        class="pi"
                                        [ngClass]="{
                                            'true-icon pi-check-circle p-success':
                                                product.membership_data
                                                    .is_on_leave == 1
                                                    ? true
                                                    : false,
                                            'false-icon pi-times-circle p-error':
                                                product.membership_data
                                                    .is_on_leave == 0
                                                    ? true
                                                    : false
                                        }"
                                        [pTooltip]="
                                            product.membership_data
                                                .is_on_leave == 1
                                                ? 'Active'
                                                : 'Inactive'
                                        "
                                    ></i>
                                </td>
                                <td>
                                    {{
                                        product.membership_data.total_amount
                                            | currency : "INR"
                                    }}
                                </td>
                                <td>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-ellipsis-v"
                                        (click)="
                                            selectedProduct = product;
                                            menu.toggle($event)
                                        "
                                        class="p-button-rounded p-button-text p-action-button"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
