<div class="card">
    <form [formGroup]="commonForm" autocomplete="off">
        <div class="grid">
            <div class="col-12">
                <div class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-4">
                    <label for="adjustment_days">Days To Adjust</label>
                        <input
                            type="number"
                            pInputText
                            id="adjustment_days"
                            placeholder="XX"
                            formControlName="adjustment_days"
                            autocomplete="off"
                            required
                        />
                        <small
                            class="p-error"
                            *ngIf="
                                commonForm.controls.adjustment_days.touched &&
                                commonForm.controls.adjustment_days.errors
                                    ?.required
                            "
                            >Days is required.</small
                        >
                </div>
            </div>
            <div class="col-12">
                <p-table
                    #dt
                    dataKey="member_id"
                    [value]="membersToAddList"
                    [paginator]="true"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [filterDelay]="0"
                    [globalFilterFields]="[
                        'full_name',
                        'card_number',
                        'school_name',
                        'member_type',
                        'parents_ph',
                        'phone_number'
                    ]"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex grid">
                            <div class="col-6">
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-excel"
                                    class="p-button-success mr-2"
                                    *ngIf="tableData"
                                    (click)="generateExcel()"
                                    pTooltip="XLS"
                                    tooltipPosition="bottom"
                                ></button>
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-pdf"
                                    *ngIf="tableData"
                                    (click)="generatePDF()"
                                    class="p-button-warning mr-2"
                                    pTooltip="PDF"
                                    tooltipPosition="bottom"
                                ></button>
                            </div>
                            <div class="ml-auto col" style="text-align: end">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        type="search"
                                        pInputText
                                        #filter
                                        (input)="
                                            dt.filterGlobal(
                                                $event.target.value,
                                                'contains'
                                            )
                                        "
                                        placeholder="Global Search"
                                    />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 1rem">
                                Slno
                                <!-- <span
                                        ><i
                                            class="pi pi-info-circle p-error"
                                            pTooltip="Right click on row for options"
                                        ></i
                                    ></span> -->
                            </th>
                            <th
                                pSortableColumn="full_name"
                                style="min-width: 14rem"
                            >
                                Name
                                <p-sortIcon field="full_name"></p-sortIcon>
                            </th>
                            <th
                                pSortableColumn="card_number"
                                style="min-width: 11rem"
                            >
                                Card Number
                                <p-sortIcon field="card_number"></p-sortIcon>
                            </th>
                            <th
                                pSortableColumn="balance"
                                style="min-width: 9rem"
                            >
                                Balance
                                <p-sortIcon field="balance"></p-sortIcon>
                            </th>
                            <th
                                pSortableColumn="member_type"
                                style="min-width: 11rem"
                            >
                                Member Type
                                <p-sortIcon field="member_type"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-product
                        let-rowIndex="rowIndex"
                    >
                        <tr [pContextMenuRow]="product">
                            <td>
                                {{ rowIndex + 1 }}
                            </td>
                            <td>
                                <div class="flex align-items-center">
                                    <div
                                        class=""
                                        *ngIf="
                                            product.photo_url;
                                            else customAvatar
                                        "
                                    >
                                        <img
                                            class="rounded-circle mr-1"
                                            [src]="product.photo_url"
                                            height="32"
                                            width="32"
                                            alt="datatable-avatar"
                                            (error)="product.photo_url = ''"
                                        />
                                    </div>
                                    <ng-template #customAvatar>
                                        <div
                                            class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                        >
                                            <div class="avatar-content">
                                                {{
                                                    product.full_name | initials
                                                }}
                                            </div>
                                        </div>
                                    </ng-template>
                                    <a
                                        (click)="
                                            selectedProduct = product;
                                            openMemberProfile()
                                        "
                                        class="text-800 font-bold cursor-pointer no-underline hover:underline"
                                        >{{ product?.full_name ?? "" }}</a
                                    >
                                </div>
                            </td>
                            <td>
                                {{ product.card_number }}
                            </td>
                            <td>
                                {{ product.balance | currency : "INR" }}
                            </td>
                            <td>
                                {{ product.member_type }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="flex justify-content-center">
                    <button
                        pButton
                        pRipple
                        *ngIf="membersToAddList.length > 0"
                        type="submit"
                        style="max-width: 100px; margin-top: 1rem"
                        label="Submit"
                        (click)="submit()"
                        [loading]="loading"
                        class="p-button"
                    ></button>
                </div>
            </div>
        </div>
    </form>
</div>
