<div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 50%">
        <div
            class="col-12 mt-5 xl:mt-0 md:col-10 text-center"
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 500%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
                style="
                    border-radius: 53px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 500%,
                        var(--surface-0)
                    );
                "
            >
                <div class="text-center">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Hello {{ memberData?.full_name }}
                    </div>
                    <span class="text-600 text-xl font-medium mb-3"
                        >Your license has expired !!!</span
                    ><br />
                    <span class="text-600 text-xl font-medium"
                        >Please pay registration amount to access your
                        account.</span
                    ><br />
                    <button
                            pButton
                            pRipple
                            label="Pay Now"
                            (click)="payNow()"
                            class="mr-2 mt-5 inline-block p-button"
                        ></button>
                </div>
            </div>
        </div>
    </div>
</div>
