<div class="card">
    <form [formGroup]="commonForm" autocomplete="off">
        <div class="grid">
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="full_name">Name <span class="p-error">*</span></label>
                <input
                    type="text"
                    pInputText
                    id="full_name"
                    placeholder="Abhi"
                    formControlName="full_name"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.full_name.touched &&
                        commonForm.controls.full_name.errors?.required
                    "
                    >Name is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="email">Email</label>
                <input
                    type="email"
                    pInputText
                    id="email"
                    placeholder="12-12-2020"
                    formControlName="email"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="gender">Gender <span class="p-error">*</span></label>
                <p-dropdown id="gender" [options]="genders" placeholder="Select a Gender" formControlName="gender"></p-dropdown>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.gender.touched &&
                        commonForm.controls.gender.errors?.required
                    "
                    >Gender is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="phone_number">Phone Number</label>
                <input
                    type="tel"
                    pInputText
                    id="phone_number"
                    placeholder="9876543210"
                    formControlName="phone_number"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.phone_number.touched &&
                        commonForm.controls.phone_number.errors?.required
                    "
                    >Phone Number is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="parents_ph">Parents Phone Number <span class="p-error">*</span></label>
                <input
                    type="tel"
                    pInputText
                    id="parents_ph"
                    placeholder="9876543210"
                    formControlName="parents_ph"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.parents_ph.touched &&
                        commonForm.controls.parents_ph.errors?.required
                    "
                    >Phone Number is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="dob">Date Of Birth <span class="p-error">*</span></label>
                <input
                    type="date"
                    pInputText
                    id="dob"
                    placeholder="12-12-2020"
                    formControlName="dob"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.dob.touched &&
                        commonForm.controls.dob.errors?.required
                    "
                    >Date Of Birth is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="class_name">Class Name <span class="p-error">*</span></label>
                <input
                    type="text"
                    pInputText
                    id="class_name"
                    placeholder="12-12-2020"
                    formControlName="class_name"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="division_name">Division Name <span class="p-error">*</span></label>
                <input
                    type="text"
                    pInputText
                    id="division_name"
                    placeholder="12-12-2020"
                    formControlName="division_name"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="hostel_details">Hostel Details <span class="p-error">*</span></label>
                <input
                    type="text"
                    pInputText
                    id="hostel_details"
                    placeholder="12-12-2020"
                    formControlName="hostel_details"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="member_type_id">Member Type <span class="p-error">*</span></label>
                <p-dropdown id="member_type_id" [options]="member_types" placeholder="Select a Member Type" formControlName="member_type_id" optionLabel="name" optionValue="id"></p-dropdown>
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-12 lg:col-12">
                <label for="address">Hostel Details <span class="p-error">*</span></label>
                <textarea id="address" pInputTextarea formControlName="address"></textarea>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.address.touched &&
                        commonForm.controls.address.errors?.required
                    "
                    >Hostel Details is required.</small
                >
            </div>
        </div>
        <button
        pButton
        type="submit"
        class=" p-button-rounded"
        (click)="submitClick()"
        [loading]="loading"
        [label]="this.config?.data ? 'Update' : 'Submit'"
    ></button>
    </form>
</div>

