<div
    id="layout-config"
    class="layout-config"
    [ngClass]="{ 'layout-config-active': appMain.configActive }"
    (click)="appMain.onConfigClick()"
>
    <a
        style="cursor: pointer"
        id="layout-config-button"
        class="layout-config-button"
        (click)="onConfigButtonClick($event)"
    >
        <i class="pi pi-cog"></i>
    </a>
    <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger p-button-text layout-config-close"
        (click)="onConfigButtonClick($event)"
    ></button>
    <div class="layout-config-content">
        <h6 class="mt-0">Counters</h6>
        <div *ngFor="let category of counters" class="field-checkbox">
            <p-radioButton [inputId]="category.key" name="category" [value]="category" (onClick)="updateCounter()" [(ngModel)]="selectedCounter"></p-radioButton>
            <label [for]="category.key">{{category.counter_name}}</label>
        </div>
    </div>
</div>
