<div class="card">
    <form [formGroup]="commonForm" autocomplete="off">
        <div class="grid">
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="card_number"
                    >Card Number <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    autofocus
                    id="card_number"
                    placeholder="987654321"
                    formControlName="card_number"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.card_number.touched &&
                        commonForm.controls.card_number.errors?.required
                    "
                    >Card Number is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6">
                <label for="full_name"
                    >Name <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="full_name"
                    placeholder="Abhi"
                    formControlName="full_name"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.full_name.touched &&
                        commonForm.controls.full_name.errors?.required
                    "
                    >Name is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="email">Email</label>
                <input
                    type="email"
                    pInputText
                    id="email"
                    placeholder="abc@gmail.com"
                    formControlName="email"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="gender"
                    >Gender <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="gender"
                    placeholder="Male"
                    formControlName="gender"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.gender.touched &&
                        commonForm.controls.gender.errors?.required
                    "
                    >Gender is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="phone_number">Phone Number</label>
                <input
                    type="tel"
                    pInputText
                    id="phone_number"
                    placeholder="9876543210"
                    formControlName="phone_number"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.phone_number.touched &&
                        commonForm.controls.phone_number.errors?.required
                    "
                    >Phone Number is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="parents_ph"
                    >Parents Phone Number <span class="p-error">*</span></label
                >
                <input
                    type="tel"
                    pInputText
                    id="parents_ph"
                    placeholder="9876543210"
                    formControlName="parents_ph"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.parents_ph.touched &&
                        commonForm.controls.parents_ph.errors?.required
                    "
                    >Phone Number is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="dob">Date Of Birth</label>
                <input
                    type="date"
                    pInputText
                    id="dob"
                    placeholder="12-12-2020"
                    formControlName="dob"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.dob.touched &&
                        commonForm.controls.dob.errors?.required
                    "
                    >Date Of Birth is required.</small
                >
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="class_name"
                    >Class Name </label
                >
                <p-dropdown
                    id="class_name"
                    [options]="classList"
                    placeholder="Select a Class Name"
                    formControlName="class_name"
                    optionLabel="name"
                    optionValue="name"
                ></p-dropdown>
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="division_name"
                    >Division Name </label
                >
                <p-dropdown
                    id="division_name"
                    [options]="divisionList"
                    placeholder="Select a Division Name"
                    formControlName="division_name"
                    optionLabel="name"
                    optionValue="name"
                ></p-dropdown>
            </div>
            <!-- <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="class_name"
                    >Class Name <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="class_name"
                    placeholder="1st"
                    formControlName="class_name"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="division_name"
                    >Division Name <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="division_name"
                    placeholder="A"
                    formControlName="division_name"
                />
            </div> -->
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="hostel_details"
                    >Hostel Details</label
                >
                <input
                    type="text"
                    pInputText
                    id="hostel_details"
                    placeholder="Hostel1"
                    formControlName="hostel_details"
                />
            </div>
            <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="member_type_name"
                    >Member Type <span class="p-error">*</span></label
                >
                <p-dropdown
                    id="member_type_name"
                    [options]="member_types"
                    placeholder="Select a Member Type"
                    formControlName="member_type_name"
                    optionLabel="member_type_name"
                    optionValue="member_type_id"
                ></p-dropdown>
            </div>
            <div
                *ngIf="memberService.getUserData().user_role == 'OWNER'"
                class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
            >
                <label for="counter_id"
                    >Counter <span class="p-error">*</span></label
                >
                <p-dropdown
                    id="counter_id"
                    [options]="counterList"
                    placeholder="Select a Member Type"
                    formControlName="counter_id"
                    optionLabel="counter_name"
                    optionValue="id"
                ></p-dropdown>
            </div>
            <!-- <div class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4">
                <label for="opening_balance">Opening Balance <span class="p-error">*</span></label>
                <input
                    type="text"
                    pInputText
                    id="opening_balance"
                    mask="separator" thousandSeparator=","
                    placeholder="1000"
                    formControlName="opening_balance"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.opening_balance.touched &&
                        commonForm.controls.opening_balance.errors?.required
                    "
                    >Opening Balance is required.</small
                >
            </div> -->
            <div class="field p-fluid col-12 sm:col-12 md:col-12 lg:col-8">
                <label for="address"
                    >Address </label
                >
                <textarea
                    id="address"
                    pInputTextarea
                    formControlName="address"
                ></textarea>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.address.touched &&
                        commonForm.controls.address.errors?.required
                    "
                    >Address is required.</small
                >
            </div>
        </div>
        <button
            pButton
            type="submit"
            class="p-button-rounded"
            (click)="submitClick()"
            [loading]="loading"
            [label]="this.config?.data ? 'Update' : 'Submit'"
        ></button>
    </form>
</div>
<p-dialog
    header="Unsuccessful registration"
    [modal]="true"
    [closeOnEscape]="true"
    [(visible)]="Unsuccessful_registration"
>
    <div class="card">
        <div class="surface-section">
            <div class="font-medium text-3xl text-900 mb-3">Unsuccessful registration</div>
            <!-- <ul class="list-none p-0 m-0">
                <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                >
                    <div class="text-500 w-6 md:w-2 font-medium">Total</div>
                    <div
                        class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                        Heat
                    </div>
                    <div class="w-6 md:w-2 flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            label="Edit"
                            icon="pi pi-pencil"
                            class="p-button-text"
                        ></button>
                    </div>
                </li>
                <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                >
                    <div class="text-500 w-6 md:w-2 font-medium">Genre</div>
                    <div
                        class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                        <p-chip label="Crime" class="mr-2"></p-chip>
                        <p-chip label="Drama" class="mr-2"></p-chip>
                        <p-chip label="Thriller"></p-chip>
                    </div>
                    <div class="w-6 md:w-2 flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            label="Edit"
                            icon="pi pi-pencil"
                            class="p-button-text"
                        ></button>
                    </div>
                </li>
                <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                >
                    <div class="text-500 w-6 md:w-2 font-medium">Director</div>
                    <div
                        class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                        Michael Mann
                    </div>
                    <div class="w-6 md:w-2 flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            label="Edit"
                            icon="pi pi-pencil"
                            class="p-button-text"
                        ></button>
                    </div>
                </li>
                <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                >
                    <div class="text-500 w-6 md:w-2 font-medium">Actors</div>
                    <div
                        class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                        Robert De Niro, Al Pacino
                    </div>
                    <div class="w-6 md:w-2 flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            label="Edit"
                            icon="pi pi-pencil"
                            class="p-button-text"
                        ></button>
                    </div>
                </li>
                <li
                    class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap"
                >
                    <div class="text-500 w-6 md:w-2 font-medium">Plot</div>
                    <div
                        class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3"
                    >
                        A group of professional bank robbers start to feel the
                        heat from police when they unknowingly leave a clue at
                        their latest heist.
                    </div>
                    <div class="w-6 md:w-2 flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            label="Edit"
                            icon="pi pi-pencil"
                            class="p-button-text"
                        ></button>
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
</p-dialog>
