<div class="card">
    <div class="grid">
        <div class="col-12">
            <div class="">
                <label for="card_number">Member To Add</label>
                <div
                    class="field p-fluid p-input-icon-right align-items-center flex mt-2"
                >
                    <!-- <input
                        type="text"
                        pInputText
                        id="card_number"
                        #card_number
                        placeholder="XXXXXXXXXX"
                        [(ngModel)]="cardNumber"
                        autocomplete="off"
                        (input)="fetchMemberData()"
                    /> -->
                    <p-autoComplete
                        [(ngModel)]="selectedMember"
                        class="flex"
                        [suggestions]="filteredMembers"
                        (onSelect)="addMemberData($event)"
                        (completeMethod)="filterMembers($event)"
                        field="name"
                        [dropdown]="true"
                    >
                        <ng-template let-member pTemplate="item">
                            <div class="">
                                <div
                                    class=""
                                    *ngIf="member.photo_url; else customAvatar"
                                >
                                    <img
                                        class="rounded-circle mr-1"
                                        [src]="member.photo_url"
                                        height="32"
                                        width="32"
                                        alt="datatable-avatar"
                                        (error)="member.photo_url = ''"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                        class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                    >
                                        <div class="avatar-content">
                                            {{ member.full_name | initials }}
                                        </div>
                                    </div>
                                </ng-template>
                                <div>
                                    {{
                                        member.full_name +
                                            " (" +
                                            member.card_number +
                                            ")"
                                    }}
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <i class="pi pi-spin pi-spinner mr-2" *ngIf="loading"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p-table
                #dt
                dataKey="member_id"
                [value]="membersToAddList"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="[
                    'full_name',
                    'card_number',
                    'school_name',
                    'member_type',
                    'parents_ph',
                    'phone_number'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div class="flex grid">
                        <div class="col-6">
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-excel"
                                class="p-button-success mr-2"
                                *ngIf="tableData"
                                (click)="generateExcel()"
                                pTooltip="XLS"
                                tooltipPosition="bottom"
                            ></button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                *ngIf="tableData"
                                (click)="generatePDF()"
                                class="p-button-warning mr-2"
                                pTooltip="PDF"
                                tooltipPosition="bottom"
                            ></button>
                        </div>
                        <div class="ml-auto col" style="text-align: end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 1rem">
                            Slno
                            <!-- <span
                                        ><i
                                            class="pi pi-info-circle p-error"
                                            pTooltip="Right click on row for options"
                                        ></i
                                    ></span> -->
                        </th>
                        <th
                            pSortableColumn="full_name"
                            style="min-width: 14rem"
                        >
                            Name
                            <p-sortIcon field="full_name"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="card_number"
                            style="min-width: 11rem"
                        >
                            Card Number
                            <p-sortIcon field="card_number"></p-sortIcon>
                        </th>
                        <th pSortableColumn="balance" style="min-width: 9rem">
                            Balance
                            <p-sortIcon field="balance"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="member_type"
                            style="min-width: 11rem"
                        >
                            Member Type
                            <p-sortIcon field="member_type"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr [pContextMenuRow]="product">
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            <div class="flex align-items-center">
                                <div
                                    class=""
                                    *ngIf="product.photo_url; else customAvatar"
                                >
                                    <img
                                        class="rounded-circle mr-1"
                                        [src]="product.photo_url"
                                        height="32"
                                        width="32"
                                        alt="datatable-avatar"
                                        (error)="product.photo_url = ''"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                        class="avatar mr-1 ml-0 bg-light-success ng-star-inserted"
                                    >
                                        <div class="avatar-content">
                                            {{ product.full_name | initials }}
                                        </div>
                                    </div>
                                </ng-template>
                                <a
                                    (click)="
                                        selectedProduct = product;
                                        openMemberProfile()
                                    "
                                    class="text-800 font-bold cursor-pointer no-underline hover:underline"
                                    >{{ product?.full_name ?? "" }}</a
                                >
                            </div>
                        </td>
                        <td>
                            {{ product.card_number }}
                        </td>
                        <td>
                            {{ product.balance | currency : "INR" }}
                        </td>
                        <td>
                            {{ product.member_type }}
                        </td>
                        <td>
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                (click)="membersToAddList.splice(rowIndex, 1)"
                                class="p-button-rounded p-button-text p-action-button p-button-danger"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <div class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            *ngIf="membersToAddList.length > 0"
                            style="max-width: 100px; margin-top: 1rem"
                            label="Add"
                            (click)="submit()"
                            class="p-button"
                        ></button>
                    </div> -->
        </div>
        <div class="col-12">
            <p-accordion>
                <p-accordionTab
                    header="Membership Details"
                    [(selected)]="accordionOpen"
                >
                    <form [formGroup]="commonForm" autocomplete="off">
                        <div class="grid">
                            <div class="field p-fluid col-12">
                                <ul class="list-none p-0 m-0">
                                    <li
                                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                    >
                                        <div
                                            class="text-500 w-6 md:w-4 font-medium"
                                        >
                                            Membership Type
                                        </div>
                                        <div
                                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                                        >
                                            <div
                                                class=""
                                                *ngIf="membershipTypeList"
                                            >
                                                <p-dropdown
                                                    id="meal_pack_id"
                                                    [options]="
                                                        membershipTypeList
                                                    "
                                                    optionLabel="meal_pack_name"
                                                    optionValue="meal_pack_id"
                                                    (onChange)="addId($event)"
                                                    [showClear]="true"
                                                    appendTo="body"
                                                    formControlName="meal_pack_id"
                                                    placeholder="Select a Membership Type"
                                                ></p-dropdown>
                                                <small
                                                    class="p-error"
                                                    *ngIf="
                                                        commonForm.controls
                                                            .meal_pack_id
                                                            .touched &&
                                                        commonForm.controls
                                                            .meal_pack_id.errors
                                                            ?.required
                                                    "
                                                    >Membership Type is
                                                    required.</small
                                                >
                                            </div>
                                        </div>
                                    </li>
                                    <li
                                        *ngIf="
                                            selectedMembershipType.length > 0
                                        "
                                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                    >
                                        <div
                                            class="text-500 w-6 md:w-4 font-medium"
                                        >
                                            Contents
                                        </div>
                                        <div
                                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                                        >
                                            <p-chip
                                                *ngFor="
                                                    let data of selectedMembershipType
                                                "
                                                styleClass="mr-2"
                                                label=" &nbsp;"
                                                >&nbsp;{{
                                                    data.meal_name
                                                }}</p-chip
                                            >
                                        </div>
                                    </li>
                                    <li
                                        *ngIf="
                                            selectedMembershipType.length > 0
                                        "
                                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                    >
                                        <div
                                            class="text-500 w-6 md:w-4 font-medium"
                                        >
                                            Meal Pack Amount
                                        </div>
                                        <div
                                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                                        >
                                            {{
                                                selectedMembershipAmount
                                                    | currency : "INR"
                                            }}
                                        </div>
                                    </li>
                                    <li
                                        *ngIf="
                                            selectedMembershipType.length > 0
                                        "
                                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                    >
                                        <div
                                            class="text-500 w-6 md:w-4 font-medium"
                                        >
                                            Membership Amount
                                        </div>
                                        <div
                                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                                        >
                                            {{
                                                commonForm.controls
                                                    .membership_amount.value
                                                    | currency : "INR"
                                            }}
                                        </div>
                                    </li>
                                    <li
                                        *ngIf="
                                            selectedMembershipType.length > 0
                                        "
                                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                    >
                                        <div
                                            class="text-500 w-6 md:w-4 font-medium"
                                        >
                                            Net Payable Amount
                                        </div>
                                        <div
                                            class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                                        >
                                            {{
                                                commonForm.controls.net_amount
                                                    .value | currency : "INR"
                                            }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div
                                class="grid"
                                *ngIf="selectedMembershipType.length > 0"
                            >
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="total_meal_packs"
                                        >Total Days
                                        <span class="p-error">*</span></label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="total_meal_packs"
                                        mask="000"
                                        [validation]="false"
                                        (keyup)="updateNetPayable()"
                                        maxlength="3"
                                        placeholder="100"
                                        formControlName="total_meal_packs"
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            commonForm.controls.total_meal_packs
                                                .touched &&
                                            commonForm.controls.total_meal_packs
                                                .errors?.required
                                        "
                                        >Meal Days is required.</small
                                    >
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="max_days"
                                        >Max Days
                                        <span class="p-error">*</span></label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="max_days"
                                        mask="000"
                                        [validation]="false"
                                        maxlength="3"
                                        placeholder="100"
                                        formControlName="max_days"
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            commonForm.controls.max_days
                                                .touched &&
                                            commonForm.controls.max_days.errors
                                                ?.required
                                        "
                                        >Max Days is required.</small
                                    >
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="start_date">Start Date</label>
                                    <p-calendar
                                        formControlName="start_date"
                                        appendTo="body"
                                        required="true"
                                        dateFormat="dd/mm/yy"
                                        [readonlyInput]="true"
                                        inputId="start_date"
                                    ></p-calendar>
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            commonForm.controls.start_date
                                                .touched &&
                                            commonForm.controls.start_date
                                                .errors?.required
                                        "
                                        >Start Date is required.</small
                                    >
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="payment_account_head_id"
                                        >Account</label
                                    >
                                    <p-dropdown
                                        id="payment_account_head_id"
                                        [options]="accountList"
                                        optionLabel="account_name"
                                        optionValue="account_head_id"
                                        formControlName="payment_account_head_id"
                                        placeholder="Select a Account"
                                        [showClear]="true"
                                    ></p-dropdown>
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            commonForm.controls
                                                .payment_account_head_id
                                                .touched &&
                                            commonForm.controls
                                                .payment_account_head_id.errors
                                                ?.required
                                        "
                                        >Account is required.</small
                                    >
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="paid_amount"
                                        >Payable Amount</label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="paid_amount"
                                        mask="separator.2"
                                        thousandSeparator=","
                                        maxlength="8"
                                        (input)="updateRequiredFields()"
                                        [validation]="false"
                                        placeholder="100.00"
                                        formControlName="paid_amount"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                >
                                    <label for="payment_date"
                                        >Payment Date</label
                                    >
                                    <input
                                        type="date"
                                        pInputText
                                        id="payment_date"
                                        formControlName="payment_date"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6"
                                >
                                    <label for="payment_mode"
                                        >Payment Mode</label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="payment_mode"
                                        placeholder="Cash"
                                        formControlName="payment_mode"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-6"
                                >
                                    <label for="payment_ref"
                                        >Payment Reference</label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="payment_ref"
                                        placeholder="UTR123"
                                        formControlName="payment_ref"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-12 lg:col-12"
                                >
                                    <label for="payment_comments"
                                        >Comments</label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        id="payment_comments"
                                        placeholder="Some Comments"
                                        formControlName="payment_comments"
                                    />
                                </div>
                            </div>
                            <div class="col-12 flex justify-content-center">
                                <button
                                    pButton
                                    [loading]="submitLoading"
                                    type="submit"
                                    [label]="'Submit'"
                                    (click)="submit()"
                                ></button>
                            </div>
                        </div>
                    </form>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="col-12">
            <p-messages
                [(value)]="messages"
                [enableService]="false"
            ></p-messages>
        </div>
    </div>
</div>
