<div class="card">
    <form [formGroup]="commonForm" autocomplete="off">
        <div class="grid">
            <div class="field p-fluid col-12">
                <label for="customer_name"
                    >Name <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    readonly
                    id="customer_name"
                    placeholder="987654321"
                    formControlName="customer_name"
                />
                <!-- <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.customer_name.touched &&
                        commonForm.controls.customer_name.errors?.required
                    "
                    >Name is required.</small
                > -->
            </div>
            <div class="field p-fluid col-12">
                <label for="customer_phnumber"
                    >Phone Number <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    readonly
                    id="customer_phnumber"
                    placeholder="987654321"
                    formControlName="customer_phnumber"
                />
                <!-- <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.customer_phnumber.touched &&
                        commonForm.controls.customer_phnumber.errors?.required
                    "
                    >Name is required.</small
                > -->
            </div>
            <div class="field p-fluid col-12">
                <label for="customer_email"
                    >Email <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    readonly
                    id="customer_email"
                    placeholder="987654321"
                    formControlName="customer_email"
                />
                <!-- <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.customer_email.touched &&
                        commonForm.controls.customer_email.errors?.required
                    "
                    >Name is required.</small
                > -->
            </div>
            <div class="field p-fluid col-12">
                <label for="amount"
                    >Amount <span class="p-error">*</span></label
                >
                <input
                    type="number"
                    pInputText
                    autofocus
                    id="amount"
                    placeholder="100"
                    formControlName="amount"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.amount.touched &&
                        commonForm.controls.amount.errors?.required
                    "
                    >Amount is required.</small
                >
            </div>
        </div>
        <button
            pButton
            type="submit"
            class="p-button-rounded"
            (click)="submitClick()"
            [loading]="loading"
            [label]="'Submit'"
        ></button>
    </form>
</div>
