<div class="card">
    <div class="grid justify-content-between p-3">
        <div class="font-medium text-3xl text-900">Member Profile</div>
        <button
            (document:keydown.shift.e)="editMemberData()"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editMemberData()"
            class="p-button-rounded p-button-outlined p-action-button"
        ></button>
    </div>
    <div class="grid flex">
        <div
            class="static col-12 xl:col-3 lg:col-4 md:col-4 sm:col-12 xs:col-12"
        >
            <!-- <img
                [src]="memberData?.logo_url"
                alt=""
                class="h-16rem md:h-16rem sm:h-11rem xs:h-2rem"
                style="border-radius: 50%; margin-right: -4rem"
            /> -->
            <div class="" *ngIf="memberData?.photo_url; else customAvatar">
                <img
                    [src]="memberData?.photo_url"
                    (error)="memberData.photo_url = ''"
                    alt=""
                    class="h-14rem xl:h-14rem md:h-14rem sm:h-11rem xs:h-2rem"
                    style="border-radius: 50%; margin-right: -4rem"
                />
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-camera"
                    class="absolute p-button-rounded p-action-button"
                    (click)="cameraDialog = true"
                ></button>
            </div>
            <ng-template #customAvatar>
                <div class="avatar mr-1 ml-0 bg-light-success ng-star-inserted">
                    <div
                        class="custom-avatar-content h-16rem md:h-16rem sm:h-16rem xs:h-2rem w-16rem md:w-16rem sm:w-16rem xs:w-2rem"
                    >
                        {{ memberData?.full_name ?? "" | initials }}
                    </div>
                    <button
                        (document:keydown.shift.e)="edit()"
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-camera"
                        class="absolute avatar-button p-button-rounded p-action-button"
                        (click)="cameraDialog = true"
                    ></button>
                </div>
            </ng-template>
            <p-dialog
                [(visible)]="cameraDialog"
                [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
                [style]="{ width: '50vw' }"
                header="Camera"
                [modal]="true"
                styleClass="p-fluid"
            >
                <ng-template pTemplate="content">
                    <app-camera (getPicture)="handleImage($event)"></app-camera>
                </ng-template>
            </p-dialog>
        </div>
        <div class="col-12 lg:col-8 md:col-7 sm:col-12 xs:col-12">
            <div class="surface-section">
                <ul class="list-none p-0 m-0">
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.full_name }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Card Number
                        </div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.card_number }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Balance
                        </div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.balance | currency : "INR" }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            School Name
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.school_name }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Gender
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.gender }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Phone Number
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.phone_number }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Parents Number
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.parents_ph }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Date Of Birth
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.dob }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Email</div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.email }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">License Status</div>
                        <div
                            class="flex align-items-center text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ memberData?.license_status == '1'?"Active":"Inactive" }}
                            <button
                            pButton
                            pRipple
                            *ngIf="memberData?.license_status === '1'; else activatebutton"
                            label="Deactivate"
                            icon="pi pi-fw pi-user-minus"
                            class="ml-2 inline-block p-button"
                            (click)="deactivateLicense()"
                        >

                    </button>

                        </div>
                        <ng-template #activatebutton class="flex align-items-center text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1">
                            <button
                            pButton
                            pRipple
                            label="Activate"
                            icon="pi pi-fw pi-user-plus"
                            class="ml-2 inline-block p-button"
                            (click)="activateLicense()"
                        ></button>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <!-- <div class="center" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
    </div> -->
    <p-tabView [scrollable]="true">
        <p-tabPanel
            cache="true"
            header="Transaction History"
            leftIcon="pi pi-list"
        >
            <div class="card">
                <p-toolbar styleClass="mb-4" class="align-content-center">
                    <ng-template class="align-content-center" pTemplate="left">
                        <div class="grid mb-0">
                            <div
                                class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">Start Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="start_date"
                                />
                            </div>
                            <div
                                class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">End Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="end_date"
                                />
                            </div>
                            <div class="flex col-2 align-items-center">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    style="margin-bottom: -2rem"
                                    class="mt-2 p-button-rounded p-action-button"
                                    (click)="fetchMemberTransactions()"
                                ></button>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template class="align-content-center" pTemplate="right">
                        <button
                            pButton
                            pRipple
                            label="Wallet Recharge"
                            icon="pi pi-fw pi-user-plus"
                            class="mr-2 mt-5 inline-block p-button"
                            (click)="walletCredit()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Wallet Debit"
                            icon="pi pi-fw pi-user-minus"
                            class="mr-2 mt-5 inline-block p-button"
                            (click)="walletDebit()"
                        ></button>
                    </ng-template>
                </p-toolbar>
                <p-contextMenu
                    #cm
                    appendTo="body"
                    [model]="transactionMenu"
                ></p-contextMenu>
                <p-menu #menu [popup]="true" [model]="transactionMenu"></p-menu>
                <p-table
                    #dt
                    dataKey="code"
                    [(contextMenuSelection)]="selectedProduct"
                    [contextMenu]="cm"
                    [value]="transactionData | async"
                    [paginator]="true"
                    [rows]="10"
                    [loading]="transactionLoading"
                    [showCurrentPageReport]="true"
                    responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [filterDelay]="0"
                    [globalFilterFields]="['membership_name']"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex grid">
                            <div class="col-6">
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-excel"
                                    class="p-button-success mr-2"
                                    *ngIf="memberTransactions"
                                    pTooltip="XLS"
                                    tooltipPosition="bottom"
                                ></button>
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-pdf"
                                    *ngIf="memberTransactions"
                                    (click)="generateMemberTransactionsPDF()"
                                    class="p-button-warning mr-2"
                                    pTooltip="PDF"
                                    tooltipPosition="bottom"
                                ></button>
                            </div>
                            <div class="ml-auto col" style="text-align: end">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        type="search"
                                        pInputText
                                        #filter
                                        (input)="
                                            dt.filterGlobal(
                                                $event.target.value,
                                                'contains'
                                            )
                                        "
                                        placeholder="Global Search"
                                    />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Slno
                                <span
                                    ><i
                                        class="pi pi-info-circle p-error"
                                        pTooltip="Right click on row for options"
                                    ></i
                                ></span>
                            </th>
                            <th pSortableColumn="receipt_no">
                                Receipt No
                                <p-sortIcon field="receipt_no"></p-sortIcon>
                            </th>
                            <th pSortableColumn="transaction_date">
                                Date
                                <p-sortIcon
                                    field="transaction_date"
                                ></p-sortIcon>
                            </th>
                            <th pSortableColumn="previous_balance">
                                Previous Balance
                                <p-sortIcon
                                    field="previous_balance"
                                ></p-sortIcon>
                            </th>
                            <th pSortableColumn="transaction_type">
                                Txn Type
                                <p-sortIcon
                                    field="transaction_type"
                                ></p-sortIcon>
                            </th>
                            <th pSortableColumn="transaction_amount">
                                Amount
                                <p-sortIcon
                                    field="transaction_amount"
                                ></p-sortIcon>
                            </th>
                            <th pSortableColumn="current_balance">
                                Balance
                                <p-sortIcon
                                    field="current_balance"
                                ></p-sortIcon>
                            </th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-product
                        let-rowIndex="rowIndex"
                    >
                        <tr [pContextMenuRow]="product">
                            <td>
                                {{ rowIndex + 1 }}
                            </td>
                            <td>
                                {{ product.receipt_no }}
                            </td>
                            <td>
                                {{ product.transaction_date }}
                            </td>
                            <td>
                                {{
                                    product.previous_balance | currency : "INR"
                                }}
                            </td>
                            <td>
                                <span
                                    [class]="
                                        product.transaction_type == 'CREDIT'
                                            ? 'p-success'
                                            : 'p-error'
                                    "
                                >
                                    {{ product.transaction_type }}</span
                                >
                            </td>
                            <td>
                                {{
                                    product.transaction_amount
                                        | currency : "INR"
                                }}
                            </td>
                            <td>
                                {{ product.current_balance | currency : "INR" }}
                            </td>
                            <td>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-ellipsis-v"
                                    (click)="
                                        selectedProduct = product;
                                        menu.toggle($event)
                                    "
                                    class="p-button-rounded p-button-text p-action-button"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog
                        header="Transaction Details"
                        [(visible)]="displayTransaction"
                        [breakpoints]="{ '960px': '50vw', '640px': '85vw' }"
                        [style]="{ width: '40vw' }"
                        modal="true"
                    >
                        <div>
                            <div class="card">
                                <div class="">
                                    <div class="surface-section">
                                        <ul class="list-none p-0 m-0">
                                            <li
                                                class="flex justify-content-end align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 font-medium"
                                                >
                                                    Date:&nbsp;
                                                </div>
                                                <div class="text-900 font-bold">
                                                    {{
                                                        selectedProduct?.transaction_date
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Receipt No
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.receipt_no
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Transaction Type
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.transaction_type
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Previous Balance
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.previous_balance
                                                            | currency : "INR"
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Transaction Amount
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.transaction_amount
                                                            | currency : "INR"
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Current Balance
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.current_balance
                                                            | currency : "INR"
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Description
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.transaction_description
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Payment Mode
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.payment_mode
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    Payment Reference
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.payment_ref
                                                    }}
                                                </div>
                                            </li>
                                            <li
                                                class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                            >
                                                <div
                                                    class="text-500 w-6 md:w-5 font-medium"
                                                >
                                                    User Comments
                                                </div>
                                                <div
                                                    class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                                >
                                                    {{
                                                        selectedProduct?.user_comments
                                                    }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-dialog>
            </div>
            <!-- <p-dialog
                header="Transaction Details"
                [(visible)]="displayTransaction"
                [breakpoints]="{ '960px': '50vw', '640px': '85vw' }"
                [style]="{ width: '40vw' }"
                modal="true"
            >
                <div class="card">
                    <div class="">
                        <div class="surface-section">
                            <ul class="list-none p-0 m-0">
                                <li
                                    class="flex justify-content-end align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div class="text-500 font-medium">
                                        Date:&nbsp;
                                    </div>
                                    <div class="text-900 font-bold">
                                        {{ selectedProduct?.transaction_date }}
                                    </div>
                                </li>

                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Membership Name
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ memberData.full_name ?? "" }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Payment Mode
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.payment_mode }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Payment Reference
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.payment_ref }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Transaction Type
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.transaction_type }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Transaction Amount
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{
                                            selectedProduct?.transaction_amount
                                                | currency : "INR"
                                        }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Comments
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.user_comments }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </p-dialog> -->
        </p-tabPanel>
        <p-tabPanel header="Membership History" leftIcon="pi pi-book">
            <p-table
                dataKey="code"
                [value]="membershipHistory | async"
                [paginator]="true"
                [rows]="10"
                [loading]="transactionLoading"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['membership_data.meal_pack_name']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex grid">
                        <div class="col-6">
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-excel"
                                class="p-button-success mr-2"
                                *ngIf="membershipHistoryTransactions"
                                pTooltip="XLS"
                                tooltipPosition="bottom"
                            ></button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                *ngIf="membershipHistoryTransactions"
                                (click)="generateMembershipHistoryPDF()"
                                class="p-button-warning mr-2"
                                pTooltip="PDF"
                                tooltipPosition="bottom"
                            ></button>
                        </div>
                        <div class="ml-auto col" style="text-align: end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Slno
                        </th>
                        <th>Name</th>
                        <th>Max Days</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Amount</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            {{ product.membership_data.meal_pack_name }}
                        </td>
                        <td>
                            {{ product.membership_data.max_days }}
                        </td>
                        <td>
                            {{ product.membership_data.start_date }}
                        </td>
                        <td>
                            {{ product.membership_data.end_date }}
                        </td>
                        <td>
                            {{ product.membership_data.total_amount }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Card History" leftIcon="pi pi-credit-card">
            <p-table
                dataKey="code"
                [value]="cardHistory | async"
                [paginator]="true"
                [rows]="10"
                [loading]="transactionLoading"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['membership_name']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex grid">
                        <div class="col-6">
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-excel"
                                class="p-button-success mr-2"
                                *ngIf="memberCardHistory"
                                pTooltip="XLS"
                                tooltipPosition="bottom"
                            ></button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                *ngIf="memberCardHistory"
                                (click)="generateMemberCardHistoryPDF()"
                                class="p-button-warning mr-2"
                                pTooltip="PDF"
                                tooltipPosition="bottom"
                            ></button>
                        </div>
                        <div class="ml-auto col" style="text-align: end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Slno
                            <span
                                ><i
                                    class="pi pi-info-circle p-error"
                                    pTooltip="Right click on row for options"
                                ></i
                            ></span>
                        </th>
                        <th>Old Card Number</th>
                        <th>New Card Number</th>
                        <th>Reason</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            {{ product.new_card_number }}
                        </td>
                        <td>
                            {{ product.old_card_number }}
                        </td>
                        <td>
                            {{ product.reason }}
                        </td>
                        <td>
                            {{ product.updated_date }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Leave History" leftIcon="pi pi-history">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <div class="grid mb-0">
                        <div
                            class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                            style="margin-bottom: -1rem"
                        >
                            <label for="dob">Start Date </label>
                            <input
                                id="dob"
                                type="date"
                                pInputText
                                [(ngModel)]="start_date"
                            />
                        </div>
                        <div
                            class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                            style="margin-bottom: -1rem"
                        >
                            <label for="dob">End Date </label>
                            <input
                                id="dob"
                                type="date"
                                pInputText
                                [(ngModel)]="end_date"
                            />
                        </div>
                        <div
                            class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                            style="margin-bottom: -1rem"
                        >
                            <label for="membership">Membership </label>
                            <p-dropdown
                                id="membership"
                                [options]="membershipList"
                                [(ngModel)]="meal_pack_id"
                                optionLabel="meal_pack_name"
                                optionValue="meal_pack_id"
                            ></p-dropdown>
                        </div>
                        <div
                            class="col-12 sm:col-12 md:col-6 lg:col-2 align-items-center"
                        >
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-search"
                                class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                (click)="fetchLeaveTransactions()"
                            ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="right"> </ng-template>
            </p-toolbar>
            <p-table
                dataKey="code"
                [value]="leaveHistory | async"
                [paginator]="true"
                [rows]="10"
                [loading]="transactionLoading"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['membership_name']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex grid">
                        <div class="col-6">
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-excel"
                                class="p-button-success mr-2"
                                *ngIf="memberLeaveHistory"
                                pTooltip="XLS"
                                tooltipPosition="bottom"
                            ></button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                *ngIf="memberLeaveHistory"
                                (click)="generateMemberLeaveHistoryPDF()"
                                class="p-button-warning mr-2"
                                pTooltip="PDF"
                                tooltipPosition="bottom"
                            ></button>
                        </div>
                        <div class="ml-auto col" style="text-align: end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Slno
                            <span
                                ><i
                                    class="pi pi-info-circle p-error"
                                    pTooltip="Right click on row for options"
                                ></i
                            ></span>
                        </th>
                        <th>Membership</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Leave Status</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            {{ product.membership_data.meal_pack_name }}
                        </td>
                        <td>
                            {{ product.leave_data.leave_start_date }}
                        </td>
                        <td>
                            {{ product.leave_data.leave_end_date ?? "-" }}
                        </td>
                        <td>
                            <i
                                class="pi"
                                [ngClass]="{
                                    'true-icon pi-check-circle p-success':
                                        product.membership_data.is_on_leave == 1
                                            ? true
                                            : false,
                                    'false-icon pi-times-circle p-error':
                                        product.membership_data.is_on_leave == 0
                                            ? true
                                            : false
                                }"
                                [pTooltip]="
                                    product.membership_data.is_on_leave == 1
                                        ? 'Active'
                                        : 'Inactive'
                                "
                            ></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>
