<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>Leave Adjustment</h4>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <button
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="add()"
                    ></button> -->
                </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <p-toolbar styleClass="mb-4" class="align-content-center">
                        <ng-template
                            class="align-content-center"
                            pTemplate="left"
                        >
                            <div class="grid mb-0">
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">Start Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="start_date"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">End Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="end_date"
                                    />
                                </div>
                                <div
                                    class="col-12 sm:col-12 md:col-6 lg:col-2 align-items-center"
                                >
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-search"
                                        class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                        (click)="getFilteredMembershipData()"
                                    ></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="right"> </ng-template>
                    </p-toolbar>
                    <p-table
                        #dt
                        dataKey="meal_pack_id"
                        [value]="filteredMembershipData | async"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="filteredMembershipDataLoading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="['meal_pack_name']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex grid">
                            <div class="col-6">
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-excel"
                                    class="p-button-success mr-2"
                                    *ngIf="allMemberships"
                                    pTooltip="XLS"
                                    tooltipPosition="bottom"
                                ></button>
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-pdf"
                                    *ngIf="allMemberships"
                                    (click)="generatePDF()"
                                    class="p-button-warning mr-2"
                                    pTooltip="PDF"
                                    tooltipPosition="bottom"
                                ></button>
                            </div>
                            <div
                                class="ml-auto col"
                                style="text-align: end"
                            >
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        type="search"
                                        pInputText
                                        #filter
                                        (input)="
                                            dt.filterGlobal(
                                                $event.target.value,
                                                'contains'
                                            )
                                        "
                                        placeholder="Global Search"
                                    />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>SlNo</th>
                                <th pSortableColumn="meal_pack_name">
                                    Name
                                    <p-sortIcon
                                        field="meal_pack_name"
                                    ></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                            let-expanded="expanded"
                        >
                            <tr [pContextMenuRow]="product">
                                <td>
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        [pRowToggler]="product"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="
                                            expanded
                                                ? 'pi pi-chevron-down'
                                                : 'pi pi-chevron-right'
                                        "
                                    ></button>
                                </td>
                                <td style="width: 20%">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 60%">
                                    {{ product.meal_pack_name }}
                                </td>
                                <td>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-arrow-circle-right"
                                        (click)="
                                        leaveAdjustmentConfig(product)
                                        "
                                        class="p-button-rounded p-button-text p-action-button"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-product>
                            <tr>
                                <td colspan="4">
                                    <div class="p-2">
                                        <p-table
                                            [value]="product.member_data"
                                            dataKey="member_id"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>SLNo</th>
                                                    <th
                                                        pSortableColumn="full_name"
                                                    >
                                                        Name
                                                        <p-sortIcon
                                                            field="full_name"
                                                        ></p-sortIcon>
                                                    </th>
                                                    <th
                                                        pSortableColumn="card_number"
                                                    >
                                                        Card Number
                                                        <p-sortIcon
                                                            field="card_number"
                                                        ></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="body"
                                                let-item
                                                let-rowIndex="rowIndex"
                                            >
                                                <tr>
                                                    <td>{{ rowIndex + 1 }}</td>
                                                    <td>
                                                        {{ item.full_name }}
                                                    </td>
                                                    <td>
                                                        {{
                                                            item.card_number
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="emptymessage"
                                            >
                                                <tr>
                                                    <td colspan="2">
                                                        There are no members in
                                                        this meal pack yet.
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">
                                    There are no packs in this table yet.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
