<div class="card">
    <div class="grid justify-content-between p-3">
        <div class="font-medium text-3xl text-900">Meal Pack Profile</div>
        <button
            pButton
            pRipple
            icon="pi pi-fw pi-pencil"
            class="p-button-rounded p-button-text"
        ></button>
    </div>
    <div class="grid flex">
        <div
            class="static col-12 xl:col-3 lg:col-4 md:col-4 sm:col-12 xs:col-12"
        >
            <!-- <img
                [src]="mealPack?.logo_url"
                alt=""
                class="h-16rem md:h-16rem sm:h-11rem xs:h-2rem"
                style="border-radius: 50%; margin-right: -4rem"
            /> -->
            <div class="">
                <div class="avatar mr-1 ml-0 bg-light-success ng-star-inserted">
                    <div
                        class="custom-avatar-content h-16rem md:h-16rem sm:h-16rem xs:h-2rem w-16rem md:w-16rem sm:w-16rem xs:w-2rem"
                    >
                        {{ mealPack?.meal_pack_name ?? "" | initials }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-8 md:col-7 sm:col-12 xs:col-12">
            <div class="surface-section">
                <ul class="list-none p-0 m-0">
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ mealPack?.meal_pack_name }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Rate</div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ mealPack?.meal_pack_price }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <p-tabView [scrollable]="true">
        <p-tabPanel header="Meals" leftIcon="pi pi-list">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="addMeals()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
                #dt1
                dataKey="meal_pack_item_id"
                [(contextMenuSelection)]="selectedProduct"
                [loading]="loading"
                [value]="meals"
                [paginator]="true"
                [rows]="10"
                editMode="row"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="[
                    'meal_name',
                    'meal_price',
                    'meal_start_time',
                    'meal_end_time'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="table-header align-content-center justify-content-end grid flex"
                    >
                        <div
                            class="col-12 md:col-8 lg:6 grid justify-content-end"
                            style="text-align: end"
                        >
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>SlNo</th>
                        <th pSortableColumn="meal_name">
                            Name
                            <p-sortIcon field="meal_name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="meal_price">
                            Base Price
                            <p-sortIcon field="meal_price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="meal_start_time">
                            Start Time
                            <p-sortIcon field="meal_start_time"></p-sortIcon>
                        </th>
                        <th pSortableColumn="meal_end_time">
                            End Time
                            <p-sortIcon field="meal_end_time"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                    let-editing="editing"
                >
                    <tr [pContextMenuRow]="product" [pEditableRow]="product">
                        <td style="width: 10%">
                            {{ rowIndex + 1 }}
                        </td>
                        <td style="width: 20%">
                            {{ product.meal_name }}
                        </td>
                        <td style="width: 15%">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        style="max-width: 110px"
                                        pInputText
                                        type="number"
                                        [(ngModel)]="product.meal_price"
                                        required
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.meal_price | currency : "INR" }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="width: 20%">
                            <p-cellEditor>
                                <ng-template
                                    pTemplate="input"
                                    style="width: 110px"
                                >
                                    <input
                                        type="time"
                                        step="2"
                                        pInputText
                                        id="meal_start_time"
                                        [(ngModel)]="product.meal_start_time"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.meal_start_time }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="width: 20%">
                            <p-cellEditor>
                                <ng-template
                                    pTemplate="input"
                                    style="width: 110px"
                                >
                                    <input
                                        type="time"
                                        step="2"
                                        pInputText
                                        id="meal_end_time"
                                        [(ngModel)]="product.meal_end_time"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.meal_end_time }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align: left; width: 15%">
                            <button
                                *ngIf="!editing"
                                pButton
                                pRipple
                                type="button"
                                pInitEditableRow
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-text"
                            ></button>
                            <button
                                *ngIf="!editing"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                (click)="confirm(product)"
                                class="p-button-rounded p-button-text p-button-danger"
                            ></button>
                            <button
                                *ngIf="editing"
                                pButton
                                pRipple
                                type="button"
                                pSaveEditableRow
                                icon="pi pi-check"
                                (click)="updateMeal(product)"
                                class="p-button-rounded p-button-text p-button-success"
                            ></button>
                            <button
                                *ngIf="editing"
                                pButton
                                pRipple
                                type="button"
                                pCancelEditableRow
                                icon="pi pi-times"
                                class="p-button-rounded p-button-text p-button-danger"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6" style="text-align: center">
                            No meals added.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Academic Constratins" leftIcon="pi pi-credit-card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="AddAcademicConstraintsComponent()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
                #academicConstraint
                dataKey="mp_academic_constraint_id"
                [(contextMenuSelection)]="selectedProduct"
                [loading]="academicConstraintsLoading"
                [value]="academicConstraints | async"
                [paginator]="true"
                [rows]="10"
                editMode="row"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="[
                    'meal_name',
                    'meal_price',
                    'meal_start_time',
                    'meal_end_time'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="table-header align-content-center justify-content-end grid flex"
                    >
                        <div
                            class="col-12 md:col-8 lg:6 grid justify-content-end"
                            style="text-align: end"
                        >
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>SlNo</th>
                        <th pSortableColumn="meal_name">
                            Name
                            <p-sortIcon field="meal_name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rate">
                            Price
                            <p-sortIcon field="rate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="class_name">
                            Class
                            <p-sortIcon field="class_name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="division_name">
                            Division
                            <p-sortIcon field="division_name"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                    let-editing="editing"
                >
                <tr [pContextMenuRow]="product" [pEditableRow]="product">
                    <td style="width: 10%">
                        {{ rowIndex + 1 }}
                    </td>
                    <td style="width: 20%">
                        {{ product.meal_name }}
                    </td>
                    <td style="width: 15%">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input
                                    style="max-width: 110px"
                                    pInputText
                                    type="number"
                                    [(ngModel)]="product.meal_price"
                                    required
                                />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product.meal_price | currency : "INR" }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 15%">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                id="class_id"
                                [options]="classList"
                                placeholder="Select a Division"
                                [(ngModel)]="product.class_id"
                                optionLabel="name"
                                appendTo="body"
                                optionValue="id"
                            ></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product.class_name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 15%">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                id="division_id"
                                [options]="divisionList"
                                placeholder="Select a Division"
                                [(ngModel)]="product.division_id"
                                optionLabel="name"
                                appendTo="body"
                                optionValue="id"
                            ></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product.division_name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left; width: 15%">
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"
                        ></button>
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            (click)="confirmAcademicConstraint(product)"
                            class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="updateAcademicConstraint(product)"
                            class="p-button-rounded p-button-text p-button-success"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pCancelEditableRow
                            icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                    </td>
                </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>
