<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>Card Update History</h4>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        (document:keydown.Alt.n)="add()"
                        pButton
                        pRipple
                        label="Search"
                        icon="pi pi-search"
                        class="mr-2 inline-block p-button"
                        (click)="getCardDetails()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <!-- <p-contextMenu
                        #cm
                        appendTo="body"
                        [model]="items"
                    ></p-contextMenu> -->
                    <!-- <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
                    <p-table
                        #dt
                        [(contextMenuSelection)]="selectedProduct"
                        dataKey="code"
                        [value]="Data"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="[
                            'full_name',
                            'card_number',
                            'phone_number'
                        ]"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex grid">
                                <div class="col-6">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-excel"
                                        class="p-button-success mr-2"
                                        *ngIf="Data"
                                        pTooltip="XLS"
                                        tooltipPosition="bottom"
                                    ></button>
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-pdf"
                                        *ngIf="Data"
                                        (click)="generatePDF()"
                                        class="p-button-warning mr-2"
                                        pTooltip="PDF"
                                        tooltipPosition="bottom"
                                    ></button>
                                </div>
                                <div
                                    class="ml-auto col"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 4rem">Slno</th>
                                <th
                                    pSortableColumn="full_name"
                                    style="min-width: 14rem"
                                >
                                    Name
                                    <p-sortIcon field="full_name"></p-sortIcon>
                                </th>
                                <th style="min-width: 11rem">
                                    New Card Number
                                </th>
                                <th style="min-width: 11rem">
                                    Old Card Number
                                </th>
                                <th style="min-width: 10rem">Reason</th>
                                <th style="min-width: 15rem">Updated On</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr [pContextMenuRow]="product">
                                <td>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    <a
                                        (click)="
                                            selectedProduct = product;
                                            openProfile()
                                        "
                                        class="text-800 font-bold cursor-pointer no-underline hover:underline"
                                        >{{ product?.full_name ?? "" }}</a
                                    >
                                </td>
                                <td>
                                    {{
                                        product.card_number ??
                                            product.new_card_number ??
                                            ""
                                    }}
                                </td>
                                <td>
                                    {{ product.old_card_number }}
                                </td>
                                <td>
                                    {{ product.reason }}
                                </td>
                                <td>
                                    {{ product.updated_date }}
                                </td>
                                <!-- <td>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-ellipsis-v"
                                        (click)="
                                            selectedProduct = product;
                                            menu.toggle($event)
                                        "
                                        class="p-button-rounded p-button-text p-action-button"
                                    ></button>
                                </td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
