<div class="grid">
    <div class="col-xl-5">
        <div class="card" style="margin-top: 0.5rem !important">
            <h5>User Profile</h5>
            <div class="grid">
                <div class="col-fixed">
                    <img
                        class="img-fluid rounded-circle image-radius"
                        style="height: 55px; width: 55px"
                        [src]="coreConfig.app.appLogoImage"
                        alt=""
                    />
                </div>
                <div class="col" style="margin-top: 6px">
                    <h5 class="mt-0 mb-0 f-w-600">
                        <span class="counter">{{ memberData.full_name }}</span>
                    </h5>
                    <p>{{ memberData.user_name }}</p>
                </div>
            </div>
            <hr />
            <div class="new-users">
                <div
                    class="col mt-3 d-flex align-content-center"
                    style="justify-content: center; cursor: pointer"
                    [ngStyle]="{
                        color: card == 'Account Activity' ? '#4466f2' : ''
                    }"
                    (click)="setCard('Account Activity')"
                >
                    <i data-feather="sliders" style="height: 20px"></i>
                    <span class="mr-auto pl-2" style="font-size: 19px"
                        >Account Activity</span
                    >
                    <i class="icon-angle-right p-2"></i>
                </div>
                <div
                        class="col mt-2 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color:
                                card == 'Logo' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Logo')"
                    >
                        <i data-feather="user" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Logo</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div>
                <div
                        class="col mt-2 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color:
                                card == 'Menu' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Menu')"
                    >
                        <i data-feather="user" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Menu</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div>
            </div>
        </div>
    </div>
    <div class="col mt-0">
        <div class="card" *ngIf="card == 'Logo'">
            <h5>Logo</h5>
            <div class="card-body">
                <div class="grid flex">
                    <div
                        class="flex flex-nowrap align-items-start flex-wrap col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 xs:col-12 p-5" *ngIf="!loading"
                    >
                        <div class="text-2xl font-bold">Base Logo</div>
                        <img
                            [src]="this.base_logo_url"
                            alt=""
                            class="h-16rem md:h-16rem sm:h-11rem xs:h-2rem"
                            style="
                                border-radius: 50%;
                                margin-right: -4rem;
                                margin-left: -3rem;
                            "
                        />
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-camera"
                            class="mt-3 p-button-rounded p-action-button"
                            (click)="base_logo.click()"
                        ></button>
                        <input
                            #base_logo
                            type="file"
                            pInputText
                            (input)="updateLogo($event, 'COUNTER_PHOTO')"
                            style="display: none"
                            id="base_logo"
                        />
                    </div>
                    <!-- <div
                        class="flex flex-nowrap align-items-start flex-wrap col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 xs:col-12 p-5"
                    >
                        <div class="text-2xl font-bold ml-3">
                            Print Logo
                        </div>
                        <img
                            [src]="Data.print_logo"
                            alt=""
                            class="h-16rem md:h-16rem sm:h-11rem xs:h-2rem"
                            style="
                                border-radius: 50%;
                                margin-right: -4rem;
                                margin-left: -3rem;
                            "
                        />
                        <input
                            #print_logo
                            type="file"
                            pInputText
                            (input)="updateLogo($event, 'PRINT_LOGO')"
                            style="display: none"
                            id="print_logo"
                        />
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-camera"
                            class="mt-3 p-button-rounded p-action-button"
                            (click)="print_logo.click()"
                        ></button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="card" *ngIf="card == 'Notifications'">
            <div class="card-header">
                <h5>Notifications</h5>
                <span class="d-block fonts-dashboard"
                    >You will get only notification what have enabled.</span
                >
            </div>
        </div>
        <div class="card" *ngIf="card == 'Account Activity'">
            <div class="card-header">
                <h5>Account Activity</h5>
                <div class="grid">
                    <div class="col">
                        <div class="surface-section">
                            <ul
                                class="list-none p-0 m-0"
                                *ngIf="tableData.length > 0; else loading"
                            >

                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ themeColor.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        <a
                                            class="p-link layout-topbar-button"
                                            (click)="
                                                updateSettings(themeColor)
                                            "
                                        >
                                            <i
                                                [class]="
                                                    themeColor
                                                        .settings_value ==
                                                    'light'
                                                        ? 'pi pi-sun'
                                                        : 'pi pi-moon'
                                                "
                                            ></i>
                                        </a>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ dateRange.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        *ngIf="
                                            editIndex ==
                                                dateRange.settings_id;
                                            else updateDateRange
                                        "
                                    >
                                        <input
                                            [(ngModel)]="
                                                dateRange.settings_value
                                            "
                                            pInputText
                                            type="number"
                                        />
                                    </div>
                                    <ng-template #updateDateRange>
                                        <div
                                            class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        >
                                            {{ dateRange.settings_value }}
                                        </div>
                                    </ng-template>
                                    <div
                                        class=""
                                        *ngIf="
                                            editIndex ==
                                                dateRange.settings_id;
                                            else saveCancelDateRange
                                        "
                                    >
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-check"
                                            class="p-button-text"
                                            (click)="
                                                updateSettings(dateRange)
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-times"
                                            class="p-button-text"
                                            (click)="
                                                editIndex = -1;
                                                editDateRange = false
                                            "
                                        ></button>
                                    </div>

                                    <ng-template #saveCancelDateRange>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            class="p-button-text"
                                            (click)="
                                                editIndex =
                                                    dateRange.settings_id;
                                                editDateRange = true
                                            "
                                        ></button>
                                    </ng-template>
                                </li>
                                <div class="" *ngIf="memberData.user_role ==='COUNTER'">
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ smsOnTap.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-2"
                                    >
                                        <p-inputSwitch
                                            [(ngModel)]="
                                                smsOnTap.settings_value
                                            "
                                            (click)="
                                                updateSettings(smsOnTap)
                                            "
                                        ></p-inputSwitch>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ minCardBalance.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        *ngIf="
                                            editIndex ==
                                                minCardBalance.settings_id;
                                            else minCardBalanceValue
                                        "
                                    >
                                        <input
                                            [(ngModel)]="
                                                minCardBalance.settings_value
                                            "
                                            pInputText
                                            type="number"
                                        />
                                    </div>
                                    <ng-template #minCardBalanceValue>
                                        <div
                                            class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        >
                                            {{ minCardBalance.settings_value }}
                                        </div>
                                    </ng-template>
                                    <div
                                        class=""
                                        *ngIf="
                                            editIndex ==
                                                minCardBalance.settings_id;
                                            else saveCancelMinCardBalance
                                        "
                                    >
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-check"
                                            class="p-button-text"
                                            (click)="
                                                updateSettings(minCardBalance)
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-times"
                                            class="p-button-text"
                                            (click)="
                                                editIndex = -1;
                                                editDateRange = false
                                            "
                                        ></button>
                                    </div>

                                    <ng-template #saveCancelMinCardBalance>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            class="p-button-text"
                                            (click)="
                                                editIndex =
                                                    minCardBalance.settings_id;
                                                editDateRange = true
                                            "
                                        ></button>
                                    </ng-template>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ walletTransactionType.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        <p-inputSwitch
                                            (click)="
                                                updateSettings(walletTransactionType)
                                            "
                                            [(ngModel)]="
                                                walletTransactionType.settings_value
                                            "
                                        ></p-inputSwitch>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ LEAVE_ENCASHMENT_TYPE.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        <p-inputSwitch
                                            (click)="
                                                updateSettings(LEAVE_ENCASHMENT_TYPE)
                                            "
                                            [(ngModel)]="
                                                LEAVE_ENCASHMENT_TYPE.settings_value
                                            "
                                        ></p-inputSwitch>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ leaveEncashment.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        *ngIf="
                                            editIndex ==
                                                leaveEncashment.settings_id;
                                            else daysForLeave
                                        "
                                    >
                                        <input
                                            [(ngModel)]="
                                                leaveEncashment.settings_value
                                            "
                                            pInputText
                                            type="number"
                                        />
                                    </div>
                                    <ng-template #daysForLeave>
                                        <div
                                            class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        >
                                            {{ leaveEncashment.settings_value }}
                                        </div>
                                    </ng-template>
                                    <div
                                        class=""
                                        *ngIf="
                                            editIndex ==
                                                leaveEncashment.settings_id;
                                            else saveCancelDaysForLeave
                                        "
                                    >
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-check"
                                            class="p-button-text"
                                            (click)="
                                                updateSettings(leaveEncashment)
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-times"
                                            class="p-button-text"
                                            (click)="
                                                editIndex = -1;
                                                editDateRange = false
                                            "
                                        ></button>
                                    </div>

                                    <ng-template #saveCancelDaysForLeave>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            class="p-button-text"
                                            (click)="
                                                editIndex =
                                                    leaveEncashment.settings_id;
                                                editDateRange = true
                                            "
                                        ></button>
                                    </ng-template>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ scanSuccessSound.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        <p-inputSwitch
                                            [(ngModel)]="
                                                scanSuccessSound.settings_value
                                            "
                                            (click)="
                                                updateSettings(scanSuccessSound)
                                            "
                                        ></p-inputSwitch>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ scanFailureSound.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        <p-inputSwitch
                                            [(ngModel)]="
                                                scanFailureSound.settings_value
                                            "
                                            (click)="
                                                updateSettings(scanFailureSound)
                                            "
                                        ></p-inputSwitch>
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-4 md:w-4 font-medium"
                                    >
                                        {{ cardNumberLength.display_label }}
                                    </div>
                                    <div
                                        class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        *ngIf="
                                            editIndex ==
                                                cardNumberLength.settings_id;
                                            else CardNumberLength
                                        "
                                    >
                                        <input
                                            [(ngModel)]="
                                                cardNumberLength.settings_value
                                            "
                                            pInputText
                                            type="number"
                                        />
                                    </div>
                                    <ng-template #CardNumberLength>
                                        <div
                                            class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1"
                                        >
                                            {{ cardNumberLength.settings_value }}
                                        </div>
                                    </ng-template>
                                    <div
                                        class=""
                                        *ngIf="
                                            editIndex ==
                                                cardNumberLength.settings_id;
                                            else saveCancelCardNumberLength
                                        "
                                    >
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-check"
                                            class="p-button-text"
                                            (click)="
                                                updateSettings(cardNumberLength)
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-times"
                                            class="p-button-text"
                                            (click)="
                                                editIndex = -1;
                                                editDateRange = false
                                            "
                                        ></button>
                                    </div>

                                    <ng-template #saveCancelCardNumberLength>
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            class="p-button-text"
                                            (click)="
                                                editIndex =
                                                    cardNumberLength.settings_id;
                                                editDateRange = true
                                            "
                                        ></button>
                                    </ng-template>
                                </li></div>
                            </ul>
                            <ng-template #loading>
                                <p-progressSpinner
                                    class="center"
                                ></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <div class="card" *ngIf="card == 'Security Settings'">
            <div class="card-header">
                <h5>Security Settings</h5>
                <span class="d-block fonts-dashboard"
                    >These settings are helps you keep your account
                    secure..</span
                >
            </div>
            <div class="card-body">
                <div
                    class="grid col d-flex justify-content-between"
                    style="justify-content: center"
                >
                    <div><span>Change Password</span><br /></div>
                    <div class="grid mr-2">
                        <div>
                            <p>
                                Last changed on 24/03/2022<br />
                                12:15
                            </p>
                        </div>
                        <button
                            class="btn btn-primary text-cente ml-3"
                            style="height: 35px"
                            type="button"
                            (click)="ChangePassword()"
                        >
                            Change Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="card == 'Menu'">
            <div class="flex w-full">
                <iframe
                    *ngIf="menu_url && !isImage"
                    [src]="menu_url"
                    width="100%"
                    height="500"
                    name="Sale Receipt"
                ></iframe>
                <img *ngIf="isImage" [src]="menu_url"
                width="100%"
                height="500" alt="Menu Image" srcset="">
                <div
                    style="width: 100%"
                    class="center flex w-full align-items-center justify-content-center"
                    *ngIf="loading"
                >

                </div>
            </div>
            <button
                pButton
                pRipple
                type="button"
                label="Upload"
                icon="pi pi-upload"
                (click)="updateImage()"
                class="p-button-rounded mt-2"
            ></button>
        </div>
    </div>
</div>
