<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>Attendance History</h4>
                </ng-template>
            </p-toolbar>
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <div class="grid mb-0">
                        <div
                            class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                            style="margin-bottom: -1rem"
                        >
                            <label for="dob">Start Date </label>
                            <input
                                id="dob"
                                type="date"
                                pInputText
                                [(ngModel)]="start_date"
                            />
                        </div>
                        <div
                            class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                            style="margin-bottom: -1rem"
                        >
                            <label for="dob">End Date </label>
                            <input
                                id="dob"
                                type="date"
                                pInputText
                                [(ngModel)]="end_date"
                            />
                        </div>
                        <div
                            class="col-12 sm:col-12 md:col-6 lg:col-2 align-items-center"
                        >
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-search"
                                class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                (click)="loadData()"
                            ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="right"> </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <p-toolbar
                        styleClass="mb-4"
                        class="align-content-center"
                        *ngIf="User == 'OWNER'"
                    >
                        <ng-template
                            class="align-content-center"
                            pTemplate="left"
                        >
                            <div class="grid mb-0">
                                <div
                                    class="field p-fluid col-12 sm:col-5 md:col-6 lg:col-4"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">Start Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="start_date"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-5 md:col-6 lg:col-4"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">End Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="end_date"
                                    />
                                </div>
                                <div class="flex col-2 align-items-center">
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-search"
                                        style="margin-bottom: -2rem"
                                        class="mt-2 p-button-rounded p-action-button"
                                        (click)="loadData()"
                                    ></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="right"> </ng-template>
                    </p-toolbar>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <p-table
                        #dt
                        [(contextMenuSelection)]="selectedProduct"
                        dataKey="code"
                        [value]="Data"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="[
                            'full_name',
                            'card_number',
                            'component_name',
                            'phone_number'
                        ]"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="table-header align-content-center justify-content-end grid flex"
                            >
                                <div
                                    class="col-12 md:col-8 lg:6 grid justify-content-end"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 5rem">Slno</th>
                                <th
                                    pSortableColumn="card_number"
                                    style="min-width: 11rem"
                                >
                                    Card No
                                    <p-sortIcon
                                        field="card_number"
                                    ></p-sortIcon>
                                </th>
                                <th style="min-width: 14rem">Name</th>
                                <th style="min-width: 14rem">Particular</th>
                                <th style="min-width: 9rem">Time</th>
                                <!-- <th>Grand Total</th> -->
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr [pContextMenuRow]="product">
                                <td>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    {{ product.card_number }}
                                </td>
                                <td>
                                    <a
                                        (click)="
                                            selectedProduct = product;
                                            openProfile()
                                        "
                                        class="text-800 font-bold cursor-pointer no-underline hover:underline"
                                        >{{ product?.full_name ?? "" }}</a
                                    >
                                </td>
                                <td>
                                    {{ product.meal_name }}
                                </td>
                                <td>
                                    {{ product.attendance_date_time }}
                                </td>
                                <!-- <td>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-ellipsis-v"
                                        (click)="
                                            selectedProduct = product;
                                            menu.toggle($event)
                                        "
                                        class="p-button-rounded p-button-text p-action-button"
                                    ></button>
                                </td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
