<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img [src]="coreConfig.app.appLogoImage" alt="logo" />
        <span>{{ coreConfig.app.appName }}</span>
    </a>

    <a
        class="p-link layout-menu-button layout-topbar-button"
        href="#"
        (click)="appMain.toggleMenu($event)"
    >
        <i class="pi pi-bars"></i>
    </a>

    <a
        class="p-link layout-topbar-menu-button layout-topbar-button"
        href="#"
        (click)="appMain.toggleTopMenu($event)"
    >
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active': appMain.topMenuActive
        }"
    >
        <a
            class=""
            style="margin-top: 0.7rem"
            *ngIf="memberService.getUserData()?.user_role == 'OWNER'"
        >
            <h5>{{ counterData?.counter_name }}</h5>
        </a>
        <a routerLink="/settings" class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </a>
        <p-overlayPanel #op [showCloseIcon]="true">
            <ng-template pTemplate> Content </ng-template>
        </p-overlayPanel>
        <a class="p-link layout-topbar-button" (click)="changeTheme()">
            <i [class]="checked ? 'pi pi-sun' : 'pi pi-moon'"></i>
            <span>Theme</span>
        </a>
        <!-- <a
            href="#"
            class="p-link layout-topbar-button"
            *ngIf="memberService.getMemberData().user_role == 'OWNER'"
        >
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </a> -->
        <a
            class="p-link layout-topbar-button"
            (click)="authService.lockScreen()"
        >
            <i class="pi pi-lock"></i>
            <span>Lock Screen</span>
        </a>
        <a class="p-link layout-topbar-button" (click)="authService.logout()">
            <i class="pi pi-sign-in"></i>
            <span>Log Out</span>
        </a>
    </div>
</div>
