<div class="grid">
    <div class="col-xl-5">
        <div class="card" style="margin-top: 0.5rem !important;">
            <h5>User Profile</h5>
                <div class="grid">
                    <div class="col-fixed">
                        <img
                            class="img-fluid rounded-circle image-radius"
                            style="height: 55px; width: 55px"
                            [src]="coreConfig.app.appLogoImage"
                            alt=""
                        />
                    </div>
                    <div class="col" style="margin-top: 6px">
                        <h5 class="mt-0 mb-0 f-w-600">
                            <span class="counter">{{memberData.full_name}}</span>
                        </h5>
                        <p>{{memberData.user_name}}</p>
                    </div>
                </div>
                <hr />
                <div class="new-users">
                    <!-- <div
                        class="col mt-2 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color:
                                card == 'Personal Information' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Personal Information')"
                    >
                        <i data-feather="user" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Personal Information</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div> -->
                    <div
                        class="col mt-3 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color: card == 'Account Activity' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Account Activity')"
                    >
                        <i data-feather="sliders" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Account Activity</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div>
                    <!-- <div
                        class="col mt-3 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color: card == 'Security Settings' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Security Settings')"
                    >
                        <i data-feather="settings" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Security Settings</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div>
                    <div
                        class="col mt-3 d-flex align-content-center"
                        style="justify-content: center; cursor: pointer"
                        [ngStyle]="{
                            color: card == 'Notifications' ? '#4466f2' : ''
                        }"
                        (click)="setCard('Notifications')"
                    >
                        <i data-feather="bell" style="height: 20px"></i>
                        <span class="mr-auto pl-2" style="font-size: 19px"
                            >Notifications</span
                        >
                        <i class="icon-angle-right p-2"></i>
                    </div> -->
                </div>
        </div>
    </div>
    <div class="col mt-0">
        <div class="card" *ngIf="card == 'Personal Information'">
                <h5>Personal Information</h5>
                <span class="d-block fonts-dashboard"
                    >Basic info, like your name and address, that you use on
                    this Platform</span
                >
            <div class="card-body">
                <div class="grid"></div>
            </div>
        </div>
        <div class="card" *ngIf="card == 'Notifications'">
            <div class="card-header">
                <h5>Notifications</h5>
                <span class="d-block fonts-dashboard"
                    >You will get only notification what have enabled.</span
                >
            </div>
        </div>
        <div class="card" *ngIf="card == 'Account Activity'">
            <div class="card-header">
                <h5>Account Activity</h5>
                <div class="grid">
                    <div class="col">

<div class="surface-section">
    <ul class="list-none p-0 m-0" *ngIf="tableData.length>0;else loading">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Theme</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" *ngIf="!editTheme; else updateTheme">{{tableData[0]?.settings_value}}</div>
            <ng-template #updateTheme>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    <p-inputSwitch [ngModel]="getThemeCheckedValue(tableData[0]?.settings_value)" (onChange)="updateThemeCheckedValue($event)"></p-inputSwitch>
                </div>
            </ng-template>
            <div class="w-6 md:w-2 flex justify-content-end">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-text" *ngIf="!editTheme; else saveCancelTheme" (click)="editTheme = true"></button>
                <ng-template #saveCancelTheme>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" (click)="updateThemeValue()"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" (click)="editTheme = false"></button>
                </ng-template>
            </div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Date Range</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" *ngIf="!editDateRange; else updateDateRange">{{tableData[1].settings_value}}</div>
            <ng-template #updateDateRange>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    <!-- <input
                    type="number"
                    id="date_range"
                    placeholder="14"
                    [value]="tableData[1].settings_value"
                /> -->
                <p-inputNumber [(ngModel)]="tableData[1].settings_value" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="100">
                </p-inputNumber>
                </div>
            </ng-template>
            <div class="w-6 md:w-2 flex justify-content-end">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-text" *ngIf="!editDateRange; else saveCancelDateRange" (click)="editDateRange = true"></button>
                <ng-template #saveCancelDateRange>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" (click)="updateSettings(tableData[1])"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" (click)="editDateRange = false"></button>
                </ng-template>
            </div>
        </li>
    </ul>
    <ng-template #loading>
        <p-progressSpinner class="center"></p-progressSpinner>
    </ng-template>
</div>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <div class="card" *ngIf="card == 'Security Settings'">
            <div class="card-header">
                <h5>Security Settings</h5>
                <span class="d-block fonts-dashboard"
                    >These settings are helps you keep your account
                    secure..</span
                >
            </div>
            <div class="card-body">
                <div
                    class="grid col d-flex justify-content-between"
                    style="justify-content: center"
                >
                    <div><span>Change Password</span><br /></div>
                    <div class="grid mr-2">
                        <div>
                            <p>
                                Last changed on 24/03/2022<br />
                                12:15
                            </p>
                        </div>
                        <button
                            class="btn btn-primary text-cente ml-3"
                            style="height: 35px"
                            type="button"
                            (click)="ChangePassword()"
                        >
                            Change Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
