<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-accordion class="p-fluid mb-3">
                <p-accordionTab header="Add New Meals" style="width: 100%" [(selected)]="accordionState">
                    <form [formGroup]="commonForm" autocomplete="off">
                        <div class="grid">
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-3"
                            >
                                <label for="meal_id"
                                    >Meal <span class="p-error">*</span></label
                                >
                                <p-dropdown
                                    id="meal_id"
                                    [options]="mealTypes"
                                    placeholder="Select a Meal"
                                    formControlName="meal_id"
                                    optionLabel="meal_name"
                                ></p-dropdown>
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_id
                                            .touched &&
                                        commonForm.controls.meal_id.errors
                                            ?.required
                                    "
                                    >Meal is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_price"
                                    >Base Price
                                    <span class="p-error">*</span></label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    id="meal_price"
                                    formControlName="meal_price"
                                    required
                                />
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_price
                                            .touched &&
                                        commonForm.controls.meal_price.errors
                                            ?.required
                                    "
                                    >Price is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_start_time"
                                    >Base Price
                                    <span class="p-error">*</span></label
                                >
                                <p-calendar
                                    appendTo="body"
                                    [timeOnly]="true"
                                    inputId="timeonly"
                                    [hourFormat]="12"
                                    [showSeconds]="true"
                                    formControlName="meal_start_time"
                                ></p-calendar>
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_start_time
                                            .touched &&
                                        commonForm.controls.meal_start_time
                                            .errors?.required
                                    "
                                    >Start time is required.</small
                                >
                            </div>
                            <div
                                class="field col-12 sm:col-12 md:col-6 lg:col-2"
                            >
                                <label htmlFor="meal_end_time"
                                    >Base Price
                                    <span class="p-error">*</span></label
                                >
                                <p-calendar
                                    appendTo="body"
                                    [timeOnly]="true"
                                    inputId="timeonly"
                                    [hourFormat]="12"
                                    [showSeconds]="true"
                                    formControlName="meal_end_time"
                                ></p-calendar>
                                <small
                                    class="p-error"
                                    *ngIf="
                                        commonForm.controls.meal_end_time
                                            .touched &&
                                        commonForm.controls.meal_end_time.errors
                                            ?.required
                                    "
                                    >End time is required.</small
                                >
                            </div>
                            <div class="col-4 sm:col-4 md:col-4 lg:col-2 flex">
                                <button
                                    pButton
                                    pRipple
                                    type="submit"
                                    (click)="addToNewMeals()"
                                    icon="pi pi-check"
                                    class="flex p-button-rounded p-button-text p-button-success mr-2 align-self-center"
                                ></button>

                                <button
                                    pButton
                                    pRipple
                                    type="reset"
                                    icon="pi pi-times"
                                    class="flex p-button-rounded p-button-text p-button-danger align-self-center"
                                ></button>
                            </div>
                        </div>
                    </form>
                    <p-table
                    *ngIf="load_mealsToInsert"
                        dataKey="meal_pack_item_id"
                        [value]="mealsToInsert"
                        [rows]="10"
                        editMode="row"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SlNo</th>
                                <th pSortableColumn="meal_name">
                                    Name
                                    <p-sortIcon field="meal_name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_price">
                                    Base Price
                                    <p-sortIcon field="meal_price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_start_time">
                                    Start Time
                                    <p-sortIcon
                                        field="meal_start_time"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_end_time">
                                    End Time
                                    <p-sortIcon
                                        field="meal_end_time"
                                    ></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td style="width: 10%">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 20%">
                                    {{ product.meal_id.meal_name }}
                                </td>
                                <td style="width: 15%">
                                    {{ product.meal_price | currency : "INR" }}
                                </td>
                                <td style="width: 20%">
                                    {{
                                        product.meal_start_time
                                    }}
                                </td>
                                <td style="width: 20%">
                                    {{
                                        product.meal_end_time
                                    }}
                                </td>
                                <td style="text-align: left; width: 15%">
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="mealsToInsert.splice(rowIndex,1)"
                                        class="p-button-rounded p-button-text p-button-danger"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="6" style="text-align: center;">
                                    No meals added.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            *ngIf="mealsToInsert.length>0"
                            style="max-width: 100px;margin-top: 1rem;"
                            label="Add"
                            (click)="insertMeals()"
                            class="p-button"
                        ></button>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <div class="grid mt-3">
                <div class="col-12">
                    <p-table
                        #dt1
                        [(contextMenuSelection)]="selectedProduct"
                        dataKey="meal_pack_item_id"
                        [value]="Data"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        editMode="row"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="[
                            'meal_name',
                            'meal_price',
                            'meal_start_time',
                            'meal_end_time'
                        ]"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="table-header align-content-center justify-content-end grid flex"
                            >
                                <div
                                    class="col-12 md:col-8 lg:6 grid justify-content-end"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SlNo</th>
                                <th pSortableColumn="meal_name">
                                    Name
                                    <p-sortIcon field="meal_name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_price">
                                    Base Price
                                    <p-sortIcon field="meal_price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_start_time">
                                    Start Time
                                    <p-sortIcon
                                        field="meal_start_time"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="meal_end_time">
                                    End Time
                                    <p-sortIcon
                                        field="meal_end_time"
                                    ></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                            let-editing="editing"
                        >
                            <tr
                                [pContextMenuRow]="product"
                                [pEditableRow]="product"
                            >
                                <td style="width: 10%">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 20%">
                                    {{ product.meal_name }}
                                </td>
                                <td style="width: 15%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                style="max-width: 110px"
                                                pInputText
                                                type="number"
                                                [(ngModel)]="product.meal_price"
                                                required
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{
                                                product.meal_price
                                                    | currency : "INR"
                                            }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width: 20%">
                                    <p-cellEditor>
                                        <ng-template
                                            pTemplate="input"
                                            style="width: 110px"
                                        >
                                            <p-calendar
                                                appendTo="body"
                                                [timeOnly]="true"
                                                inputId="timeonly"
                                                [hourFormat]="12"
                                                [showSeconds]="true"
                                                [(ngModel)]="
                                                    product.meal_start_time
                                                "
                                            ></p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{
                                                product.meal_start_time
                                                    | date : "mediumTime"
                                            }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width: 20%">
                                    <p-cellEditor>
                                        <ng-template
                                            pTemplate="input"
                                            style="width: 110px"
                                        >
                                            <p-calendar
                                                appendTo="body"
                                                [timeOnly]="true"
                                                inputId="timeonly"
                                                [hourFormat]="12"
                                                [showSeconds]="true"
                                                [(ngModel)]="
                                                    product.meal_end_time
                                                "
                                            ></p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{
                                                product.meal_end_time
                                                    | date : "mediumTime"
                                            }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    <button
                                        *ngIf="!editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pInitEditableRow
                                        icon="pi pi-pencil"
                                        class="p-button-rounded p-button-text"
                                    ></button>
                                    <button
                                        *ngIf="!editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="confirm(product)"
                                        class="p-button-rounded p-button-text p-button-danger"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pSaveEditableRow
                                        icon="pi pi-check"
                                        (click)="updateMeal(product)"
                                        class="p-button-rounded p-button-text p-button-success"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pCancelEditableRow
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-text p-button-danger"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="6" style="text-align: center;">
                                    No meals added.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
