<div class="card">
    <div class="flex w-full">
        <iframe
            *ngIf="config.data.src && !config.data.isImage"
            [src]="config.data.src"
            width="100%"
            height="500"
            name="Sale Receipt"
        ></iframe>
        <img *ngIf="config.data.isImage" [src]="config.data.src"
        width="100%"
        height="500" alt="Menu Image" srcset="">
        <div
            style="width: 100%"
            class="center flex w-full align-items-center justify-content-center"
            *ngIf="config.data.loading"
        >

        </div>
    </div>
</div>
