<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template class="align-content-center" pTemplate="left">
                    <h4>Membership Sale History</h4>
                </ng-template>

                <ng-template pTemplate="right"> </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="col-12">
                    <p-toolbar styleClass="mb-4" class="align-content-center">
                        <ng-template pTemplate="left">
                            <div class="grid flex mb-0">
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">Start Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="start_date"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="dob">End Date </label>
                                    <input
                                        id="dob"
                                        type="date"
                                        pInputText
                                        [(ngModel)]="end_date"
                                    />
                                </div>
                                <div
                                    class="field p-fluid col-12 sm:col-12 md:col-4 lg:col-3"
                                    style="margin-bottom: -1rem"
                                >
                                    <label for="membership">Membership </label>
                                    <p-dropdown
                                        id="membership"
                                        [options]="membershipList"
                                        [(ngModel)]="meal_pack_id"
                                        optionLabel="meal_pack_name"
                                        optionValue="meal_pack_id"
                                    ></p-dropdown>
                                </div>
                                <div
                                    class="col-12 sm:col-12 md:col-4 lg:col-3 align-items-center"
                                >
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-search"
                                        class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                        (click)="fetchTransactions()"
                                    ></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-toolbar>
                    <!-- <p-contextMenu #cm [model]="items"></p-contextMenu>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
                    <p-table
                        #dt
                        [(contextMenuSelection)]="selectedProduct"
                        [(selection)]="selectedStudents"
                        dataKey="card_number"
                        [value]="Data | async"
                        [paginator]="true"
                        selectionMode="multiple"
                        [rows]="10"
                        [loading]="loading"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [filterDelay]="0"
                        [globalFilterFields]="[
                            'meal_pack_name',
                            'sale_date',
                            'price_per_pack',
                            'total_meal_packs',
                            'qty_sold',
                            'total_amount',
                            'meal_pack_id'
                        ]"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex grid">
                                <div class="col-6">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-excel"
                                        class="p-button-success mr-2"
                                        *ngIf="allMemberships"
                                        pTooltip="XLS"
                                        tooltipPosition="bottom"
                                    ></button>
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        icon="pi pi-file-pdf"
                                        *ngIf="allMemberships"
                                        (click)="generatePDF()"
                                        class="p-button-warning mr-2"
                                        pTooltip="PDF"
                                        tooltipPosition="bottom"
                                    ></button>
                                </div>
                                <div
                                    class="ml-auto col"
                                    style="text-align: end"
                                >
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            type="search"
                                            pInputText
                                            #filter
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Global Search"
                                        />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5rem">Slno</th>
                                <th
                                    pSortableColumn="sale_date"
                                    style="min-width: 9rem"
                                >
                                    Date
                                    <p-sortIcon field="sale_date"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="meal_pack_name"
                                    style="min-width: 14rem"
                                >
                                    Name
                                    <p-sortIcon
                                        field="meal_pack_name"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="price_per_pack"
                                    style="min-width: 8rem"
                                >
                                    Price
                                    <p-sortIcon
                                        field="price_per_pack"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="total_meal_packs"
                                    style="min-width: 7rem"
                                >
                                    Meal Packs
                                    <p-sortIcon
                                        field="total_meal_packs"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="qty_sold"
                                    style="min-width: 9rem"
                                >
                                    Quantity
                                    <p-sortIcon field="qty_sold"></p-sortIcon>
                                </th>
                                <th
                                    pSortableColumn="total_amount"
                                    style="min-width: 9rem"
                                >
                                    Total Amount
                                    <p-sortIcon
                                        field="total_amount"
                                    ></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-product
                            let-rowIndex="rowIndex"
                        >
                            <tr [pContextMenuRow]="product">
                                <td>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    {{ product.sale_date }}
                                </td>
                                <td>
                                    {{ product?.meal_pack_name }}
                                </td>
                                <td>
                                    {{
                                        product.price_per_pack
                                            | currency : "INR"
                                    }}
                                </td>
                                <td>
                                    {{ product.total_meal_packs }}
                                </td>
                                <td>
                                    {{ product.qty_sold }}
                                </td>
                                <td>
                                    {{
                                        product.total_amount | currency : "INR"
                                    }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
