<div class="card">
    <form [formGroup]="commonForm" autocomplete="off">
        <div class="grid">
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="card_number">Name</label>
                <input
                    type="text"
                    pInputText
                    id="card_number"
                    placeholder="XXXXXXXXXX"
                    [value]="config.data?.full_name"
                    [readonly]="true"
                />
            </div>
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="basic_balance">Balance</label>
                <input
                    type="text"
                    pInputText
                    id="basic_balance"
                    placeholder="XXXXXXXXXX"
                    [value]="config.data?.balance"
                    readonly
                />
            </div>
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="returnable_amount"
                    >Returnable Amount
                    <span
                        class="p-error"
                        *ngIf="
                            commonForm.get('returnable_amount').errors?.required
                        "
                        >*</span
                    ></label
                >
                <input
                    type="number"
                    pInputText
                    id="returnable_amount"
                    (change)="updateFormStatus()"
                    placeholder="100"
                    autofocus
                    formControlName="returnable_amount"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.returnable_amount.touched &&
                        commonForm.controls.returnable_amount.errors?.required
                    "
                    >Returnable Amount is required.</small
                >
            </div>
            <div
                class="field-checkbox p-fluid sm:col-12 md:col-6 lg:col-4"
                *ngIf="showSettleFromBalance"
            >
                <p-checkbox
                    inputId="settleFromBalance"
                    (onChange)="updateFormStatus()"
                    formControlName="isSettleFromBalance"
                    [binary]="true"
                ></p-checkbox>
                <label for="settleFromBalance">Settle From Balance</label>
            </div>
            <div class="field-checkbox p-fluid sm:col-12 md:col-6 lg:col-4">
                <p-checkbox
                    inputId="addRetunableAmountToWallet"
                    (onChange)="updateFormStatus()"
                    formControlName="addRetunableAmountToWallet"
                    [binary]="true"
                ></p-checkbox>
                <label for="addRetunableAmountToWallet"
                    >Return Amount To Wallet</label
                >
            </div>
        </div>
        <div class="grid" *ngIf="displayPaymentDetails">
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="account_head_id"
                    >Pay from <span class="p-error">*</span></label
                >
                <p-dropdown
                    id="account_head_id"
                    [options]="accountList"
                    optionLabel="account_name"
                    optionValue="account_head_id"
                    formControlName="account_head_id"
                    placeholder="Select a Account"
                    [showClear]="true"
                ></p-dropdown>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.account_head_id.touched &&
                        commonForm.controls.account_head_id.errors?.required
                    "
                    >Account is required.</small
                >
            </div>
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="payment_mode"
                    >Payment Mode <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="payment_mode"
                    placeholder="Cash"
                    formControlName="payment_mode"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.payment_mode.touched &&
                        commonForm.controls.payment_mode.errors?.required
                    "
                    >Payment Mode is required.</small
                >
            </div>
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="payment_ref"
                    >Payment Reference <span class="p-error">*</span></label
                >
                <input
                    type="text"
                    pInputText
                    id="payment_ref"
                    placeholder="UTR232323"
                    formControlName="payment_ref"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.payment_ref.touched &&
                        commonForm.controls.payment_ref.errors?.required
                    "
                    >Payment Reference is required.</small
                >
            </div>
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="txn_date"
                    >Transaction Date <span class="p-error">*</span></label
                >
                <input
                    type="date"
                    pInputText
                    id="txn_date"
                    placeholder="UTR232323"
                    formControlName="txn_date"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.txn_date.touched &&
                        commonForm.controls.txn_date.errors?.required
                    "
                    >Transaction Date is required.</small
                >
            </div>
            <div class="field p-fluid col-12 md:col-6 lg:col-8">
                <label for="txn_comments"
                    >Comments <span class="p-error">*</span></label
                >
                <textarea
                    pInputTextarea
                    id="txn_comments"
                    formControlName="txn_comments"
                ></textarea>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.txn_comments.touched &&
                        commonForm.controls.txn_comments.errors?.required
                    "
                    >Comments is required.</small
                >
            </div>
        </div>
        <div class="grid">
            <div class="field p-fluid sm:col-12 md:col-6 lg:col-4">
                <label for="cancellation_date"
                    >Cancellation Date <span class="p-error">*</span></label
                >
                <input
                    type="date"
                    pInputText
                    id="cancellation_date"
                    placeholder="UTR232323"
                    formControlName="cancellation_date"
                />
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.cancellation_date.touched &&
                        commonForm.controls.cancellation_date.errors?.required
                    "
                    >Cancellation Date is required.</small
                >
            </div>
            <div class="field p-fluid col-12 md:col-6 lg:col-8">
                <label for="cancellation_comments"
                    >Cancellation Comments <span class="p-error">*</span></label
                >
                <textarea
                    pInputTextarea
                    id="cancellation_comments"
                    formControlName="cancellation_comments"
                ></textarea>
                <small
                    class="p-error"
                    *ngIf="
                        commonForm.controls.cancellation_comments.touched &&
                        commonForm.controls.cancellation_comments.errors
                            ?.required
                    "
                    >Comments is required.</small
                >
            </div>
        </div>
        <button
            pButton
            type="submit"
            (click)="submitClick()"
            [loading]="loading"
            [label]="'Submit'"
        ></button>
    </form>
</div>
