<div class="card">
    <div class="grid justify-content-between p-3">
        <div class="font-medium text-3xl text-900">POS Item Profile</div>
        <button
            (document:keydown.shift.e)="editPOSItem()"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editPOSItem()"
            class="p-button-rounded p-button-outlined p-action-button"
        ></button>
    </div>
    <div class="grid flex">
        <div
            class="static col-12 xl:col-3 lg:col-4 md:col-4 sm:col-12 xs:col-12"
        >
            <!-- <img
                [src]="posItemData?.logo_url"
                alt=""
                class="h-16rem md:h-16rem sm:h-11rem xs:h-2rem"
                style="border-radius: 50%; margin-right: -4rem"
            /> -->
            <div class="" *ngIf="posItemData?.img_loc; else customAvatar">
                <img
                    [src]="posItemData?.img_loc"
                    (error)="posItemData.img_loc = ''"
                    alt=""
                    class="h-14rem xl:h-14rem md:h-14rem sm:h-11rem xs:h-2rem"
                    style="border-radius: 50%; margin-right: -4rem"
                />
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-camera"
                    class="absolute p-button-rounded p-action-button"
                    (click)="cameraDialog = true"
                ></button>
            </div>
            <ng-template #customAvatar>
                <div class="avatar mr-1 ml-0 bg-light-success ng-star-inserted">
                    <div
                        class="custom-avatar-content h-16rem md:h-16rem sm:h-16rem xs:h-2rem w-16rem md:w-16rem sm:w-16rem xs:w-2rem"
                    >
                        {{ posItemData?.name ?? "" | initials }}
                    </div>
                    <button
                        (document:keydown.shift.e)="edit()"
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-camera"
                        class="absolute avatar-button p-button-rounded p-action-button"
                        (click)="cameraDialog = true"
                    ></button>
                </div>
            </ng-template>
            <p-dialog
                [(visible)]="cameraDialog"
                [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
                [style]="{ width: '50vw' }"
                header="Camera"
                [modal]="true"
                styleClass="p-fluid"
            >
                <ng-template pTemplate="content">
                    <app-camera (getPicture)="handleImage($event)"></app-camera>
                </ng-template>
            </p-dialog>
        </div>
        <div class="col-12 lg:col-8 md:col-7 sm:col-12 xs:col-12">
            <div class="surface-section">
                <ul class="list-none p-0 m-0">
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.name }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Main Category
                        </div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.main_category_name }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Stock Quantity
                        </div>
                        <div
                            class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.stock_qty }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">Rate</div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.rate | currency : "INR" }}
                        </div>
                    </li>
                    <!-- <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            GST Slab
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.gst_slab }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Discount Amount
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.discount_amt }}
                        </div>
                    </li>
                    <li
                        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                    >
                        <div class="text-500 w-6 md:w-3 font-medium">
                            Discount Percentage
                        </div>
                        <div
                            class="text-900 sm:w-6 font-bold md:w-7 md:flex-order-0 flex-order-1"
                        >
                            {{ posItemData?.discount_per }}
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <!-- <div class="center" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
    </div> -->
    <p-tabView [scrollable]="true">
        <p-tabPanel header="Academic Constratins" leftIcon="pi pi-credit-card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="addAcademicConstraints()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
                dataKey="code"
                #AC
                [value]="academicConstraints | async"
                [paginator]="true"
                [rows]="10"
                [loading]="academicConstraintsLoading"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['class_name','division_name']"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="table-header align-content-center justify-content-end grid flex"
                    >
                        <div
                            class="col-12 md:col-8 lg:6 grid justify-content-end"
                            style="text-align: end"
                        >
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="search"
                                    #filter
                                    autofocus
                                    (input)="
                                    AC.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Slno</th>
                        <th pSortableColumn="class_id">Class<p-sortIcon
                            field="class_id"
                        ></p-sortIcon></th>
                        <th pSortableColumn="division_id">Division<p-sortIcon
                            field="division_id"
                        ></p-sortIcon></th>
                        <th pSortableColumn="rate">Rate<p-sortIcon
                            field="rate"
                        ></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            {{ product.class_name }}
                        </td>
                        <td>
                            {{ product.division_name ?? "-" }}
                        </td>
                        <td>
                            {{ product.rate | currency : "INR" }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="updateAcademicConstraints(product)"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-text p-button-primary"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="deleteAcademicConstraints(product)"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-text p-button-danger"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Time Constratins" leftIcon="pi pi-credit-card">
            <p-toolbar styleClass="mb-4" class="align-content-center">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Add"
                        icon="pi pi-plus"
                        class="mr-2 inline-block p-button"
                        (click)="addTimeConstraints()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
            #TC
                dataKey="code"
                [value]="timeConstraints | async"
                [paginator]="true"
                [rows]="10"
                [loading]="timeConstraintsLoading"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['start_time','start_date','end_time','end_date']"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="table-header align-content-center justify-content-end grid flex"
                    >
                        <div
                            class="col-12 md:col-8 lg:6 grid justify-content-end"
                            style="text-align: end"
                        >
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="search"
                                    #filter
                                    autofocus
                                    (input)="
                                        TC.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Slno</th>
                        <th>Start Time</th>
                        <th>Start Date</th>
                        <th>End Time</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>
                            {{ product.start_time }}
                        </td>
                        <td>
                            {{ product.start_date }}
                        </td>
                        <td>
                            {{ product.end_time }}
                        </td>
                        <td>
                            {{ product.end_date }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="updateTimeConstraints(product)"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-text p-button-primary"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="deleteTimeConstraints(product)"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-text p-button-danger"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel
            cache="true"
            header="Transaction History"
            leftIcon="pi pi-list"
        >
            <div class="card">
                <p-toolbar styleClass="mb-4" class="align-content-center">
                    <ng-template class="align-content-center" pTemplate="left">
                        <div class="grid mb-0">
                            <div
                                class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">Start Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="start_date"
                                />
                            </div>
                            <div
                                class="field p-fluid col-12 sm:col-12 md:col-6 lg:col-4"
                                style="margin-bottom: -1rem"
                            >
                                <label for="dob">End Date </label>
                                <input
                                    id="dob"
                                    type="date"
                                    pInputText
                                    [(ngModel)]="end_date"
                                />
                            </div>
                            <div class=" col-12 sm:col-12 md:col-6 lg:col-2 align-items-center">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="mt-2 p-button-rounded p-action-button lg:mt-5"
                                    (click)="getTransactionHistory()"
                                ></button>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="right">

                    </ng-template>
                </p-toolbar>
                <p-contextMenu
                    #cm
                    appendTo="body"
                    [model]="transactionMenu"
                ></p-contextMenu>
                <p-menu #menu [popup]="true" [model]="transactionMenu"></p-menu>
                <p-table
                    #dt
                    dataKey="code"
                    [(contextMenuSelection)]="selectedProduct"
                    [contextMenu]="cm"
                    [value]="transactionData | async"
                    [paginator]="true"
                    [rows]="10"
                    [loading]="transactionLoading"
                    [showCurrentPageReport]="true"
                    responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [filterDelay]="0"
                    [globalFilterFields]="['particular_name','sale_date','total_sale_qty','sale_rate']"
                >
                <ng-template pTemplate="caption">
                    <div class="flex grid">
                        <div class="col-6">
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-excel"
                                class="p-button-success mr-2"
                                *ngIf="transactionDataList"
                                pTooltip="XLS"
                                tooltipPosition="bottom"
                            ></button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                *ngIf="transactionDataList"
                                (click)="generateTransactionHistoryPDF()"
                                class="p-button-warning mr-2"
                                pTooltip="PDF"
                                tooltipPosition="bottom"
                            ></button>
                        </div>
                        <div
                            class="ml-auto col"
                            style="text-align: end"
                        >
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    type="search"
                                    pInputText
                                    #filter
                                    (input)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    placeholder="Global Search"
                                />
                            </span>
                        </div>
                    </div>
                </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 3rem">Slno</th>
                            <th style="min-width: 8rem">Date</th>
                            <th
                                pSortableColumn="particular_name"
                                style="min-width: 10rem"
                            >
                                Name
                                <p-sortIcon field="particular_name"></p-sortIcon>
                            </th>
                            <th style="min-width: 14rem">Sale Rate</th>
                            <th style="min-width: 8rem">Total Sale Qty</th>
                            <th style="min-width: 8rem">Total Sale Amount</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-product
                        let-rowIndex="rowIndex"
                    >
                        <tr [pContextMenuRow]="product">
                            <td>
                                {{ rowIndex + 1 }}
                            </td>
                            <td>
                                {{ product.sale_date }}
                            </td>
                            <td>
                                {{ product.particular_name }}
                            </td>
                            <td>
                                {{ '₹ '+product.item_grand_total ?? "-" }}
                            </td>
                            <td>
                                {{ product.total_sale_qty }}
                            </td>
                            <td class="text-right pr-5">
                                {{ '₹ '+product.total_sale_amt.toFixed(2) }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-dialog
                header="Transaction Details"
                [(visible)]="displayTransaction"
                [breakpoints]="{ '960px': '50vw', '640px': '85vw' }"
                [style]="{ width: '40vw' }"
                modal="true"
            >
                <div class="card">
                    <div class="">
                        <div class="surface-section">
                            <ul class="list-none p-0 m-0">
                                <li
                                    class="flex justify-content-end align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div class="text-500 font-medium">
                                        Date:&nbsp;
                                    </div>
                                    <div class="text-900 font-bold">
                                        {{ selectedProduct?.transaction_date }}
                                    </div>
                                </li>

                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Membership Name
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ posItemData.name ?? "" }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Payment Mode
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.payment_mode }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Payment Reference
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.payment_ref }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Transaction Type
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.transaction_type }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Transaction Amount
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{
                                            selectedProduct?.transaction_amount
                                                | currency : "INR"
                                        }}
                                    </div>
                                </li>
                                <li
                                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                                >
                                    <div
                                        class="text-500 w-6 md:w-5 font-medium"
                                    >
                                        Comments
                                    </div>
                                    <div
                                        class="text-900 font-bold sm:w-6 md:w-6 md:flex-order-0 flex-order-1"
                                    >
                                        {{ selectedProduct?.user_comments }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </p-dialog>
        </p-tabPanel>
    </p-tabView>
</div>
