<div class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <p-accordion>
                <p-accordionTab
                    header="Academic Constrains"
                    [(selected)]="accordionOpen"
                >
                    <div class="p-fluid">
                        <form [formGroup]="commonForm" autocomplete="off">
                            <div class="grid">
                                <div
                                    class="field col-12 sm:col-12 md:col-6 lg:col-3"
                                >
                                    <label for="class_id"
                                        >Class
                                        <span class="p-error">*</span></label
                                    >
                                    <p-dropdown
                                        id="class_id"
                                        [options]="classList"
                                        placeholder="Select a Class"
                                        formControlName="class_id"
                                        optionLabel="name"
                                        appendTo="body"
                                        optionValue="id"
                                    ></p-dropdown>
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            commonForm.controls.class_id
                                                .touched &&
                                            commonForm.controls.class_id.errors
                                                ?.required
                                        "
                                        >Class is required.</small
                                    >
                                </div>
                                <div
                                    class="field col-12 sm:col-12 md:col-6 lg:col-3"
                                >
                                    <label for="division_id">Division</label>
                                    <p-dropdown
                                        id="division_id"
                                        [options]="divisionList"
                                        placeholder="Select a Division"
                                        formControlName="division_id"
                                        optionLabel="name"
                                        appendTo="body"
                                        optionValue="id"
                                    ></p-dropdown>
                                </div>
                                <div class="col-12">
                                    <p-table
                                        #dt1
                                        dataKey="meal_pack_item_id"
                                        [value]="
                                        mealPack?.meal_items
                                        "
                                        [paginator]="true"
                                        [rows]="10"
                                        editMode="row"
                                        [showCurrentPageReport]="true"
                                        responsiveLayout="scroll"
                                        currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                                        [rowsPerPageOptions]="[10, 25, 50]"
                                        [filterDelay]="0"
                                        [globalFilterFields]="[
                                            'meal_name',
                                            'meal_price',
                                            'meal_start_time',
                                            'meal_end_time'
                                        ]"
                                    >
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>SlNo</th>
                                                <th pSortableColumn="meal_name">
                                                    Name
                                                    <p-sortIcon
                                                        field="meal_name"
                                                    ></p-sortIcon>
                                                </th>
                                                <th
                                                    pSortableColumn="meal_price"
                                                >
                                                    Base Price
                                                    <p-sortIcon
                                                        field="meal_price"
                                                    ></p-sortIcon>
                                                </th>
                                                <th
                                                    pSortableColumn="meal_start_time"
                                                >
                                                    Start Time
                                                    <p-sortIcon
                                                        field="meal_start_time"
                                                    ></p-sortIcon>
                                                </th>
                                                <th
                                                    pSortableColumn="meal_end_time"
                                                >
                                                    End Time
                                                    <p-sortIcon
                                                        field="meal_end_time"
                                                    ></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template
                                            pTemplate="body"
                                            let-product
                                            let-rowIndex="rowIndex"
                                            let-editing="editing"
                                        >
                                            <tr
                                                [pContextMenuRow]="product"
                                                [pEditableRow]="product"
                                            >
                                                <td style="width: 10%">
                                                    {{ rowIndex + 1 }}
                                                </td>
                                                <td style="width: 20%">
                                                    {{ product.meal_name }}
                                                </td>
                                                <td style="width: 15%">
                                                    <input
                                                        style="max-width: 110px"
                                                        pInputText
                                                        type="number"
                                                        [ngModelOptions]="{
                                                            standalone: true
                                                        }"
                                                        [(ngModel)]="
                                                            product.meal_price
                                                        "
                                                        required
                                                    />
                                                </td>
                                                <td style="width: 20%">
                                                    <input
                                                        type="time"
                                                        step="2"
                                                        pInputText
                                                        id="meal_start_time"
                                                        [ngModelOptions]="{
                                                            standalone: true
                                                        }"
                                                        [(ngModel)]="
                                                            product.meal_start_time
                                                        "
                                                        required
                                                    />
                                                </td>
                                                <td style="width: 20%">
                                                    <input
                                                        type="time"
                                                        step="2"
                                                        pInputText
                                                        id="meal_end_time"
                                                        [ngModelOptions]="{
                                                            standalone: true
                                                        }"
                                                        [(ngModel)]="
                                                            product.meal_end_time
                                                        "
                                                        required
                                                    />
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template
                                            pTemplate="emptymessage"
                                            let-columns
                                        >
                                            <tr>
                                                <td
                                                    [attr.colspan]="6"
                                                    style="text-align: center"
                                                >
                                                    No meals added.
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <div class="col-12 flex justify-content-center">
                                    <button
                                        pButton
                                        pRipple
                                        style="
                                            max-width: 100px;
                                            margin-top: 1rem;
                                        "
                                        label="Add"
                                        (click)="addElementToList()"
                                        class="p-button"
                                    ></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <p-table
                #dt
                dataKey="id"
                [value]="mealPacks.mealPacksArray"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [filterDelay]="0"
                [globalFilterFields]="['meal_pack_name']"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>SlNo</th>
                        <th pSortableColumn="class_id">
                            Class Name
                            <p-sortIcon field="class_id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="division_id">
                            Division Name
                            <p-sortIcon field="division_id"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                    let-expanded="expanded"
                >
                    <tr [pContextMenuRow]="product">
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="product"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td style="width: 20%">
                            {{ rowIndex + 1 }}
                        </td>
                        <td style="width: 60%">
                            {{ product.class_name }}
                        </td>
                        <td style="width: 60%">
                            {{ product.division_name }}
                        </td>
                        <td>
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                (click)="
                                mealPacks.mealPacksArray.splice(
                                        rowIndex,
                                        1
                                    )
                                "
                                class="p-button-rounded p-button-text  p-button-danger"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="5">
                            <div class="p-2">
                                <p-table
                                    [value]="product.meal_items"
                                    dataKey="meal_id"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>SLNo</th>
                                            <th pSortableColumn="meal_name">
                                                Name
                                                <p-sortIcon
                                                    field="meal_name"
                                                ></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="meal_price">
                                                Price
                                                <p-sortIcon
                                                    field="meal_price"
                                                ></p-sortIcon>
                                            </th>
                                            <th
                                                pSortableColumn="meal_start_time"
                                            >
                                                Start Time
                                                <p-sortIcon
                                                    field="meal_start_time"
                                                ></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="meal_end_time">
                                                End Time
                                                <p-sortIcon
                                                    field="meal_end_time"
                                                ></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template
                                        pTemplate="body"
                                        let-item
                                        let-rowIndex="rowIndex"
                                    >
                                        <tr>
                                            <td>{{ rowIndex + 1 }}</td>
                                            <td>
                                                {{ item.meal_name }}
                                            </td>
                                            <td>
                                                {{
                                                    item.meal_price | currency : "INR"
                                                }}
                                            </td>
                                            <td>
                                                {{ item.meal_start_time }}
                                            </td>
                                            <td>
                                                {{ item.meal_end_time }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="4">
                                                There are no order for this
                                                product yet.
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">
                            There are no constraints added yet.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex justify-content-center">
                <button
                    pButton
                    pRipple
                    style="
                        max-width: 100px;
                        margin-top: 1rem;
                    "
                    *ngIf="mealPacks.mealPacksArray.length>0"
                    (click)="submit()"
                    label="Add"
                    class="p-button"
                ></button>
            </div>
        </div>
    </div>
</div>
