<div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
        <div class="col-12 mt-5 xl:mt-0 md:col-10 text-center"></div>
        <div
            class="col-12 xl:col-5 md:col-10"
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
                style="
                    border-radius: 53px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 38.9%,
                        var(--surface-0)
                    );
                "
            >
                <div class="text-center mb-5">
                    <img
                        [src]="coreConfig.app.appLogoImage"
                        alt="Smart Canteen logo"
                        class="mb-5"
                        style="width: 60px; height: 60px"
                    />
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome to {{ coreConfig.app.appName }}
                    </div>
                    <span class="text-600 font-medium"
                        >Sign in to continue</span
                    >
                </div>
                <div class="text-center" *ngIf="displayLogins">
                    <a
                        class="font-medium no-underline hover:underline ml-2 text-right cursor-pointer"
                        style="color: var(--primary-color)"
                        (click)="
                            otherSignIn(
                                '98225865680257',
                                '8796541230'
                            )
                        "
                        >Sign in as Sanjeev</a
                    >,<a
                    class="font-medium no-underline hover:underline ml-2 text-right cursor-pointer"
                    style="color: var(--primary-color)"
                    (click)="
                        otherSignIn(
                            '98225865680293',
                            '963254102'
                        )
                    "
                    >Sign in as Keshav</a
                >
                </div>
                <div class="w-full md:w-10 mx-auto">
                    <label
                        for="cardNumber"
                        class="block text-900 text-xl font-medium mb-2"
                        >Card Number</label
                    >
                    <input
                        id="cardNumber"
                        type="text"
                        placeholder="9876543211"
                        [(ngModel)]="cardNumber"
                        pInputText
                        class="w-full mb-3"
                        style="padding: 1rem"
                    />

                    <label
                        for="phoneNumber"
                        class="block text-900 font-medium text-xl mb-2"
                        >Phone Number</label
                    >
                    <input
                        id="phoneNumber"
                        type="text"
                        placeholder="9876543211"
                        [(ngModel)]="phoneNumber"
                        pInputText
                        class="w-full mb-3"
                        style="padding: 1rem"
                    />
                    <button
                        pButton
                        label="Send OTP"
                        class="w-full p-3 text-xl"
                        (click)="signIn()"
                        iconPos="right"
                        [loading]="loading"
                    ></button>
                    <label
                    *ngIf="showValidateOTP"
                        for="otp"
                        class="block text-900 font-medium text-xl mb-2 mt-3"
                        >OTP</label
                    >
                    <input
                    *ngIf="showValidateOTP"
                        id="otp"
                        type="number"
                        placeholder="123456"
                        [(ngModel)]="OTP"
                        pInputText
                        class="w-full mb-3"
                        style="padding: 1rem"
                    />
                    <button
                    *ngIf="showValidateOTP"
                        pButton
                        label="Validate OTP"
                        class="w-full p-3 text-xl"
                        (click)="validateOTP()"
                        iconPos="right"
                        [loading]="validationLoading"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
